<apex:page controller="ASBResendController" action="{!doLoad}">
  <apex:form id="frm">
  		<a href="/{!$CurrentPage.parameters.Id}">Back to Case</a><br/><br/>
 		<apex:pageMessages escape="false" />
  </apex:form>
</apex:page>