<apex:page StandardController="Account" extensions="ConsumerSearchController" tabStyle="Account"  showHeader="true"
 sidebar="false">
<apex:includeScript value="/support/console/22.0/integration.js"/>
<script type="text/javascript">
     window.onload = function openContactrecord() {
     if (typeof(srcUp) == 'function') {
       srcUp('/'+'{!$CurrentPage.parameters.contactId}');
     }
  };
</script>
</apex:page>