<apex:page controller="ConsoleDeactivationController" docType="html-5.0" language="{!$CurrentPage.parameters.language}" sidebar="false" showHeader="false" standardStylesheets="false" cache="false" action="{!languageSwap}">
   <apex:stylesheet value="{!URLFOR($Resource.ConsoleDeactivation, css)}"/>
  <apex:composition template="ConsoleDeactivationSiteTemplate">
  <apex:define name="body">
           
    <!-- OVERLAY / ALERTS --> 
    <div>  
         <apex:outputText styleclass="ovr2 red1" style="position:absolute;left:100px;top:300px;z-index:3;width:1000px;font-size:20px;line-height:1.5;"
          value="{!$Label.Case_Successfully_Created}"/><br/>
    </div>
 
  </apex:define>
  </apex:composition>
</apex:page>