<apex:page controller="ContactButtonsController" id="pg">
<apex:includeScript value="/support/console/29.0/integration.js" />
 <style>
  .subs{padding-right:10px;padding-left:10px;} 
  
  .fancyButton {
    -webkit-align-items: flex-start;
    -webkit-appearance: none;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-box-shadow: rgb(173, 173, 173) 0px 1px 2px 0px;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(138, 181, 41);
    background-image: -webkit-linear-gradient(top, rgb(138, 181, 41) 0px, rgb(135, 172, 49) 100%);
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(108, 128, 73);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(108, 128, 73);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(108, 128, 73);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(108, 128, 73);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgb(173, 173, 173) 0px 1px 2px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    top: 0px;
    visibility: visible;
    white-space: pre;
    word-spacing: 0px;
    cursor : pointer;
      }
 </style>
 
 <script type="text/javascript">
         openCaseDetail = function(caseId,err) {                               
           sforce.console.focusPrimaryTabById(tabId1, openPrimaryTab);
           if(caseId != '' && caseId != null){          
             srcUp('/' + caseId);             
           }
           else{
                if(err != null && err.indexOf('FIELD_CUSTOM_VALIDATION_EXCEPTION')!=-1 &&
                    err.indexOf('LATAM country must be selected for this consumer')!=-1) {
                    err = 'LATAM Country must first be selected before creating this case.';
                }else{   
                    err = 'Error: '+err;
                }
                alert(err);
           }
         };         
         function openPrimaryTab(result) {
            if (result.success == true) {
                //alert("true");
            }else{
                //alert("false");
            }
         };
 
        var tabId1 = '';
        var chatKeyId = '';
        var productDetails = '';
        var productDetails2 = '';
        var productDetails3 = '';
        var userOrigin = '';
        var userSubjectVal = '';
        var tstDivConBtns = '';        
        window.onload = function() {                                    
            var smeId = '{!$CurrentPage.parameters.id}';                       
            //alert("smeid"+smeId);
            if(smeId != '' && smeId != null){
                getContactInfo1();
            }                                                            
        };      
        function getContactInfo1() {            
            sforce.console.getEnclosingPrimaryTabId(getDetails1);
        };       
        var getDetails1 = function getDetails1(result) {                     
            tabId1 = result.id;                                    
            tstDivConBtns = document.getElementById('testDivConButtons');            
            tstDivConBtns.id = tabId1;          
            sforce.console.chat.getDetailsByPrimaryTabId(tabId1, getDetailsSuccess1);
        };                
        function getDetailsSuccess1(result) {                       
            if (result.success == true) {  
                chatKeyId = result.details.chatKey;                 
                if(getVar('CCB'+chatKeyId).length == 0){                
                    document.cookie="CCB"+chatKeyId+"=1";
                }                                                            
                var tempx = result.details.customDetails;
                /*Object.keys(tempx).forEach(function (key) {
                    //console.log(tempx[key]);            
                    if(tempx[key].label == 'ProductDetailResolution'){
                        productDetails = tempx[key].value;                        
                         //alert("productDetails:"+productDetails);                        
                    }
                    if(tempx[key].label == 'ProductDetail'){                       
                        productDetails2 = tempx[key].value;                                                
                    }
                    if(tempx[key].label == 'ProductDetailDesc'){                       
                        productDetails3 = tempx[key].value;                                               
                    }                    
                    if(tempx[key].label == 'userOriginVal'){
                        userOrigin = tempx[key].value;
                        //alert("userOrigin:"+userOrigin);
                    }                                                      
                });*/
                for(var i=0; i < tempx.length; i++){                                        
                    //console.log(tempx);
                    if(tempx[i].label == 'ProductDetailResolution'){
                        productDetails = tempx[i].value;                        
                         //alert("productDetails:"+productDetails);                        
                    }
                    if(tempx[i].label == 'ProductDetail'){                       
                        productDetails2 = tempx[i].value;                                                
                    }
                    if(tempx[i].label == 'ProductDetailDesc'){                       
                        productDetails3 = tempx[i].value;                                               
                    }                    
                    if(tempx[i].label == 'userOriginVal'){
                        userOrigin = tempx[i].value;
                        //alert("userOrigin:"+userOrigin);
                    }                                               
                }                                       
            } else {
                //alert('Getting the details was not successful');
            }
            userSubjectVal = productDetails + ',' + productDetails2 + ',' + productDetails3;
            loopButtons();
            caseCreateTab();
        };
        function getVar(sand) {
            var name = sand + "=";
            var ind = document.cookie.split(';');
            for(var i=0; i<ind.length; i++) {
                var c = ind[i];
                while (c.charAt(0)==' ') c = c.substring(1);
                    if (c.indexOf(name) != -1) return c.substring(name.length,c.length);
            }
            return "";
        };
        function loopButtons(){
            var z;
            var ancestor = document.getElementById(tabId1);
            var descendents = ancestor.getElementsByTagName('input');
            for (i = 0; i < descendents.length; ++i) {
                  z =  descendents[i];                
                  //alert("this is:"+z.id);
                  z.id = tabId1 + ':' + z.id;
                  //alert("this now is :"+z.id);
            }        
        };
        function caseCreateTab(){
            //alert("OPENING");                            
            if(getVar('CCB'+chatKeyId) != 0){
                document.cookie="CCB"+chatKeyId+"=0";
                if(productDetails == 'Hardware/Networking'){
                //alert(productDetails);               
                document.getElementById(tabId1 + ':' + 'hn1').click();
                }
                if(productDetails == 'PlayStation Network'){
                    //alert(productDetails);                
                    document.getElementById(tabId1 + ':' + 'psn1').click();
                }
                if(productDetails == 'Refunds'){
                    //alert(productDetails);                
                    document.getElementById(tabId1 + ':' + 'ref1').click();
                }
                if(productDetails == 'Vouchers'){
                    //alert(productDetails);                
                    document.getElementById(tabId1 + ':' + 'vou1').click();
                }
                if(productDetails == 'General'){
                    //alert(productDetails);                                                                
                    document.getElementById(tabId1 + ':' + 'gen1').click();                
                }               
            }                                                           
        };                
 </script>
 
 <apex:form id="frm">
    <!-- Action functions -->

<!--    <apex:actionFunction name="resetPasswordAF" action="{!resetPassword}" status="goStatus" oncomplete="openCaseDetail('{!caseId}');" rerender="frm"/> -->
   <apex:actionFunction name="troubleshootAF" action="{!troubleshoot}" status="goStatus" oncomplete="openCaseDetail('{!caseId}','{!errorString}');" rerender="details">         
        <apex:param name="UserSource" value="" />
        <apex:param name="UserSubject" value="" />
        <apex:param name="UserChatKeyId" value="" />
   </apex:actionFunction>
   <apex:actionFunction name="showPSNetworkAF" action="{!showPSNetwork}" status="goStatus"  oncomplete="openCaseDetail('{!caseId}','{!errorString}');" rerender="details">          
        <apex:param name="UserSource" value="" />
        <apex:param name="UserSubject" value="" />
        <apex:param name="UserChatKeyId" value="" />
   </apex:actionFunction>   
   <apex:actionFunction name="purchaseAF" action="{!purchase}" oncomplete="openCaseDetail('{!caseId}','{!errorString}');" status="goStatus"  rerender="details">    
        <apex:param name="UserSource" value="" />
        <apex:param name="UserSubject" value="" />
        <apex:param name="UserChatKeyId" value="" />
   </apex:actionFunction>
   <apex:actionFunction name="showVoucherAF"  action="{!showVoucher}" oncomplete="openCaseDetail('{!caseId}','{!errorString}');" status="goStatus"  rerender="frm">         
        <apex:param name="UserSource" value="" />
        <apex:param name="UserSubject" value="" />
        <apex:param name="UserChatKeyId" value="" />
   </apex:actionFunction>
   <apex:actionFunction name="showGeneralSubsAF" action="{!showGeneralSubs}" oncomplete="openCaseDetail('{!caseId}','{!errorString}');" status="goStatus"  rerender="details">          
        <apex:param name="UserSource" value="" />
        <apex:param name="UserSubject" value="" />
        <apex:param name="UserChatKeyId" value="" />
   </apex:actionFunction>
   <apex:actionFunction name="refundAF" action="{!refund}" status="goStatus" oncomplete="openCaseDetail('{!caseId}','{!errorString}');" rerender="details">         
        <apex:param name="UserSource" value="" />
        <apex:param name="UserSubject" value="" />
        <apex:param name="UserChatKeyId" value="" />
   </apex:actionFunction>
   <apex:actionFunction name="serviceAF" action="{!service}" status="goStatus" oncomplete="openCaseDetail('{!caseId}','{!errorString}');" rerender="details">           
        <apex:param name="UserSource" value="" />
        <apex:param name="UserSubject" value="" />
        <apex:param name="UserChatKeyId" value="" />
   </apex:actionFunction>                     
    
   
   <div id="testDivConButtons" style="padding-top:10px; padding-left:15px">
<!--    <input type="button" class="fancyButton"  value="Password Reset" onclick="resetPasswordAF()"/> -->
   <input id="psn1" type="button" class="fancyButton" name="contactButton" value="PSN"  onclick="showPSNetworkAF(userOrigin, userSubjectVal, chatKeyId)" />
   <input id="vou1" type="button" class="fancyButton" name="contactButton" value="Voucher" onclick="showVoucherAF(userOrigin, userSubjectVal, chatKeyId)" />
   <input id="ref1" type="button" class="fancyButton" name="contactButton" value="Refund" onclick="refundAF(userOrigin, userSubjectVal, chatKeyId)" />
   <input id="hn1" type="button" class="fancyButton"  name="contactButton" value="Hardware/Networking" onclick="troubleshootAF(userOrigin, userSubjectVal, chatKeyId)"/>
   <input id="pur1" type="button" class="fancyButton" name="contactButton" value="Purchase" onclick="purchaseAF(userOrigin, userSubjectVal, chatKeyId)" />
   <input id="gen1" type="button" class="fancyButton" name="contactButton" value="General" onclick="showGeneralSubsAF(userOrigin, userSubjectVal, chatKeyId)" />
   <input id="ser1" type="button" class="fancyButton" name="contactButton" value="Service" onclick="serviceAF(userOrigin, userSubjectVal, chatKeyId)" style="display:{!IF(ShowServiceButton, '', 'none')}" />

      
   <apex:actionstatus id="goStatus">
    <apex:facet name="start">
     <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." /> 
     <span class="waitingDescription">Please Wait...</span>
    </apex:facet>
   </apex:actionstatus>
   </div>
   
 </apex:form>   
</apex:page>