<apex:page controller="CreateSAPRecordController" tabStyle="Staging_SAP_Outbound__c">
 <apex:form id="frm"> 
 <script>
   window.onload = function() {
     createSAP(); 
   }
   
   function verifyRecordCreation() {
     if('{!invalidRecord}' == 'false') {
       alert('SAP Record has beed created Successfully.');
       redirectToCase();
     } 
   }
    
 </script>
 <apex:pageMessages />
 <apex:actionFunction name="redirectToCase" action="{!redirectToCase}"/>
 <apex:actionFunction name="createSAP" action="{!createSAP}" oncomplete="verifyRecordCreation();" rerender="frm"/>
  <apex:pageBlock title="New SAP Record">
    <apex:pageBlockButtons location="top">
     <apex:commandButton value="Back" action="{!redirectToCase}"/>
    </apex:pageBlockButtons> 
    <apex:pageBlockSection title="Following Errors needs to be sought out before creating SAP Record" collapsible="false" rendered="{!invalidRecord}">
      <apex:repeat value="{!errors}" var="err">
        
        {!err}<br/>
       
      </apex:repeat>
   </apex:pageBlockSection>
  </apex:pageBlock>
 </apex:form>
</apex:page>