<apex:page extensions="CybersourceCalculateTaxController" standardController="Case" action="{!validateRedirect}" showChat="false" 
																		           sidebar="false" 
																		           showHeader="false" 
																		           standardStylesheets="false">
    <apex:includeScript value="/support/console/26.0/integration.js"/>         
  <apex:form id="frm">
   
   <script>
     function afterTaxUpdate() {
       
       if('{!isUpdated}' == 'true') {	
	     	 alert('Price has been updated.');
     	   if(sforce.console.isInConsole()) {
		      refreshSubTab();
		    } else {
		      parent.location.href="/{!caseId}";
		    }
       }
     }
     
     window.onload = function() {
       updateCase();
     }
     function refreshSubTab() {
		sforce.console.getFocusedPrimaryTabId(reloadSubTab);
	  }
	  var reloadSubTab = function reloadSubTab(result) {
	    //Now that we've got the tab ID, we can reload it
	    var tabId = result.id;
		//alert(tabId);
		sforce.console.refreshPrimaryTabById(tabId, true);
	  }; 
  
   </script> 
   
   <apex:actionFunction name="updateCase" action="{!udpateTaxInCase}" oncomplete="afterTaxUpdate();" rerender="frm"/>
  </apex:form>
</apex:page>