<apex:page controller="GeocodeSearchNearbyDemoController" tabStyle="Location__c" action="{!doSearchNearby}" title="Search NearBy"> 
    <apex:sectionHeader title="Search Nearby"/>

    <apex:pageMessages id="Messages"/>

    <apex:form id="theForm">
        <apex:outputPanel id="SearchForm">
            <apex:outputPanel >
                <apex:actionStatus startText="Please Wait..." stopText="" id="doSearchStatus"/>
                <apex:pageBlock title="Search Form" mode="view"> 
                    <apex:pageBlockButtons >
                        <apex:commandButton action="{!doSearchNearby}" value="Search" reRender="Results,Messages" status="doSearchStatus" />
                        <apex:commandButton action="{!sendEmail}" value="Send Email" reRender="Results,Messages" status="doSearchStatus" />
                        <apex:commandButton action="{!gotoCase}" value="Back"/>
                    </apex:pageBlockButtons>
                    <apex:pageBlockSection title="Search" showHeader="true" columns="2">
                        <apex:pageBlockSectionItem >
                            <apex:outputLabel value="Address" for="address"/>
                            <apex:outputText value="{!addressInput}"/> 
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputLabel value="Distance" for="distance"/>
                            <apex:outputPanel layout="block">
	                            <apex:selectList id="distance" value="{!distance}" size="1">
	                                <apex:selectOptions value="{!distanceOptions}"/>
	                            </apex:selectList>
	                            <apex:selectList id="unit" value="{!unit}" size="1">
	                                <apex:selectOptions value="{!unitOptions}"/>
	                            </apex:selectList>
                            </apex:outputPanel>
                        </apex:pageBlockSectionItem>
                        
                    </apex:pageBlockSection>
<!--                     <apex:pageBlockSection title="Configuration" showHeader="true" columns="2"> -->
<!--                         <apex:pageBlockSectionItem > -->
<!--                             <apex:outputLabel value="Latitude Field Name" for="latitudeFieldName"/> -->
<!--                             <apex:inputText value="{!latitudeFieldName}"/> -->
<!--                         </apex:pageBlockSectionItem> -->
<!--                         <apex:pageBlockSectionItem > -->
<!--                             <apex:outputLabel value="Longitude Field Name" for="longitudeFieldName"/> -->
<!--                             <apex:inputText value="{!longitudeFieldName}"/> -->
<!--                         </apex:pageBlockSectionItem> -->
<!--                         <apex:pageBlockSectionItem > -->
<!--                             <apex:outputLabel value="Object Name" for="objectName"/> -->
<!--                             <apex:inputText value="{!objectName}"/> -->
<!--                         </apex:pageBlockSectionItem> -->
<!--                     </apex:pageBlockSection> -->
                </apex:pageBlock>
            </apex:outputPanel>
        </apex:outputPanel>

        <apex:outputPanel id="Results">
            <apex:outputPanel rendered="{!searchExecuted}">
                <apex:actionStatus startText="Updating..." stopText="" id="doPaginationChangeStatus"/>
                <apex:pageBlock title="Results" mode="view">
                    <apex:pageBlockTable value="{!results}" var="result">
                        
                        <apex:column headerValue="Select">
                       		<input type="radio" name="ctRadio" value="{!result.Id}"/>
                        </apex:column>
                        
                        <apex:column headerValue="Record Name"><a href="/{!result.id}">{!result.name}</a></apex:column>
                        
                        <apex:column headerValue="Distance (KM)" value="{!result.distanceInKilometers}" rendered="{!IF(unit == 'km', 'true', 'false')}"/>
                        
                        <apex:column headerValue="Address">
                         <apex:outputText value="{!result.address}" escape="false"/>
                       </apex:column>
                       
                       <apex:column headerValue="Distance (Miles)" value="{!result.distanceInMiles}" rendered="{!IF(unit == 'mi', 'true', 'false')}"/>
                        
<!--                         <apex:column headerValue="Longitude" value="{!result.point.longitude}"/> -->
                        <apex:facet name="header">
                            <c:PaginationControls paginator="{!paginator}"
                                reRender="Results,Messages"
                                status="doPaginationChangeStatus"
                                uniqueName="ResultsPaginator"
                            />
                        </apex:facet>
                    </apex:pageBlockTable> 
                </apex:pageBlock>
            </apex:outputPanel>        
        </apex:outputPanel>
        
    </apex:form>               
</apex:page>