<apex:page language="en" showHeader="false">
    <!-- AB - 02/10/15 - Remove Polling Dependencies -->
    <!-- <script type="text/javascript">
        var myVar=setInterval(function () {setQueuePosition()}, 3000);
        window.onload = function() {    
            setQueuePosition();
        };                  
        function setQueuePosition() {
            
                var queuePosition = document.getElementsByClassName("liveAgentQueuePosition")[0].innerHTML;
                         
                //alert("pos:"+queuePosition);                
                if(queuePosition > 1){                    
                    document.getElementById('liveAgentQueueMsg').style.display = 'block';
                    document.getElementById('liveAgentNextMsg').style.display = 'none';
                    document.getElementById('liveAgentDefaultMsg').style.display = 'none';
                    document.getElementsByClassName("liveAgentQueuePosition")[0].style.display = 'none';
                    document.getElementById('liveAgentQueueMsg').innerHTML = 'There are '+ queuePosition +' customers ahead of you. Our average wait time is less than 15 minutes.';
                }else{
                //if(queuePosition == '1'){
                    document.getElementById('liveAgentNextMsg').style.display = 'block';
                    document.getElementById('liveAgentDefaultMsg').style.display = 'none';
                    document.getElementById('liveAgentQueueMsg').style.display = 'none';
                    document.getElementsByClassName("liveAgentQueuePosition")[0].style.display = 'none';
                }
        };
    </script> -->
	<style>
		body { overflow: hidden; width: 100%; height: 100%; padding: 0; margin: 0 }
		#waitingMessage { height: 100%; width: 100%; vertical-align: middle; text-align: center; display: none; }
		#alertMessage {
		    height: 100px; /*SFDC - Changed 100% to 100px*/
		    width: 100%;
		    vertical-align: top;
		    text-align: center;
		    font-size: 125%;
		    font-weight: bold;}
		#liveAgentClientChat.liveAgentStateWaiting #waitingMessage { display: table; }
		#liveAgentSaveButton, #liveAgentEndButton { z-index: 2; }
		.liveAgentChatInput {
		    height: 25px;
		    border-width: 1px;
		    border-style: solid;
		    border-color: #000;
		    padding: 2px 0 2px 4px;
		    background: #fff;
		    display: block;
		    width: 99%;
		}
		.liveAgentSendButton {
		    display: block;
		    width: 60px;
		    height: 31px;
		    padding: 0 0 3px;
		    position: absolute;
		    top: 0;
		    right: -67px;
		    color:black;
		}
		#liveAgentChatLog {
		    width: auto;
		    height: auto;
		    top: 0px;
		    position: absolute;
		    overflow-y: auto;
		    left: 0;
		    right: 0;
		    bottom: 0;
		}
	</style>
    <!-- SFDC - Moved alertMessage from chat div to it's own div -->
	<div id="alertMessage">
	    <br/>
	    For console deactivations, please <a href="https://support.us.playstation.com/app/answers/detail/a_id/2616/kw/deactivate%20console" target="_blank">click here</a> for step-by-step instructions on how you can do this yourself.<br/>
	    For password reset instructions please go <a href="https://support.us.playstation.com/app/answers/detail/a_id/2539/kw/password%20reset" target="_blank">here</a>.
	</div>
    <!-- SFDC - Changed top to 80px (from 0) to account for height of alertMessage -->
    <div style="top: 80px; left: 0; right: 0; bottom: 0; position: absolute;">
        <liveAgent:clientchat >
            <!-- <liveAgent:clientChatQueuePosition id="queuePosValId"/>-->
            <liveAgent:clientChatSaveButton label="Save Chat" />
            <liveAgent:clientChatEndButton label="End Chat" />
	            <div style="top: 75px; left: 5px; right: 5px; bottom: 55px; position: absolute; z-index: 0;">
	                <liveAgent:clientChatAlertMessage agentsUnavailableLabel="{!$Label.Agents_Unavailable}"/>
	                <liveAgent:clientChatStatusMessage />    
	                <table id="waitingMessage" cellpadding="0" cellspacing="0">
	                    <tr>        
				            <div id="waitingMessage" class="modal">    
				                <!-- AB - 02/10/15 - Remove Polling Dependencies -->
			                    <!-- <em id="liveAgentDefaultMsg" style="display: none;" >You are now being connected to an agent.</em><br/>             
			                    <em id="liveAgentNextMsg" style="font-family:arial;color:red;font-size:12px;display: none;" >You are next in queue. Please Wait.......<br/></em><br/> -->
			                    <em id="liveAgentQueueMsg" style="font-family:arial;color:red;font-size:12px;display: block;" >{!$Label.Queue_Message}</em><br/>
				            </div>
			            </tr>
	                </table>    
	                <div style="top: 0; right: 0; bottom: 41px; left: 0; padding: 0; position: absolute; word-wrap: break-word; z-index: 0;">
		               <liveAgent:clientChatLog />
		            </div>
		            <div style="position: absolute; height: auto; right: 0; bottom: 0; left: 0; margin-right: 67px;">
		                <liveagent:clientChatInput /><liveAgent:clientChatSendButton label="Send"/>
		            </div>
	            </div>
            <!-- SFDC - Moved file transfer to it's own div AND chaned it to absolute position of bottom 0 so that it shows up underneath Live agent chat window -->
            <div style="position: absolute; bottom:0;">
            <liveAgent:clientChatFileTransfer />
            </div>
        </liveAgent:clientchat>
    </div>
</apex:page>