<apex:page docType="html-5.0" sidebar="false" showHeader="false" language="pt_BR" title="PlayStation Chat - Offline">
 
<style type="text/css"> 
/* DOM */
    body {margin:0px;padding:0px;border:0px;outline:0px;background-color:#3663BB;}
    a:link,:visited,:hover,:active{color:#FFFFFF;}
/* TEXT */
    @font-face {font-family:'SST';src:url('../fonts/SST-Roman.ttf') format('truetype');}
    .txt1 {font-family:SST,sans-serif;font-size:20px;line-height:27px;color:#FFFFFF;}
/* LOGO */
    #logo {width:46px;height:36px;position:absolute;left:90px;top:72px;z-index:2;background-repeat:no-repeat;border:0px;}
/* MESSAGES */
    #msgs {width:900px;position:absolute;left:90px;top:135px;display:table-cell;vertical-align:middle;}
</style>

    <body>
        <div >
    <!--PS Logo -->
    <apex:image id="logo" url="https://test.salesforce.com/servlet/servlet.ImageServer?id=01519000000BuAi&oid=00D19000000EUCV&lastMod=1437083481000"/>
    </div>
    <br />
        <apex:outputPanel id="msgs" layout="block" style="max-width:400px!important;" styleClass="txt1">
            <!-- Group image -->
            <apex:image id="offline2" url="https://test.salesforce.com/servlet/servlet.ImageServer?id=01519000000BuAd&oid=00D19000000EUCV&lastMod=1437083458000"/>
            <apex:outputText value="{!$Label.Live_Agent_Offline}"/><br/><br/>
        </apex:outputPanel>
    </body>

</apex:page>