<apex:page controller="StateValuesRemote">
<apex:includeScript value="/support/console/31.0/integration.js" />
<script type="text/javascript">
        var chatKey = '';
        var email = ''; 
        var cookieVal = ''; 
        var psnIdVal = '';
        Visualforce.remoting.timeout = 120000;
        var eventHandler1 = function (result1) {
            //alert("START");            
            chatKey = result1.chatKey;
            getDetailsByChatKey();                                                
        };
        //sforce.console.chat.onChatRequested(eventHandler1);
        function declineChat() {   
            //alert("decline user!");                                  
            sforce.console.chat.declineChat(chatKey, declineSuccess);
        };   
        function declineSuccess(result2) {            
            if (result2.success == true) {
                //alert('Declining the chat was successful');
            } else {
                //alert('Declining the chat was not successful');
            }
        };
        function acceptSuccess(result2) {            
            if (result2.success == true) {
                //alert('Accepting the chat was successful');
            } else {
                //alert('Accepting the chat was not successful');
            }
        };
        function getDetailsByChatKey() {                                  
            sforce.console.chat.getDetailsByChatKey(chatKey, getDetailsSuccess);
        };        
        function getDetailsSuccess(result3) {            
            if (result3.success == true) {
                var tempx = result3.details.customDetails;
                /*Object.keys(tempx).forEach(function (key) {
                    //console.log(tempx[key]);                    
                    if(tempx[key].label == 'EmailDetail'){
                        email = tempx[key].value;
                        //alert('EMAIL:'+email);                                                        
                    }
                    if(tempx[key].label == 'PSNOnlineDetail'){
                        psnIdVal = tempx[key].value;
                        //alert('PSNID:'+psnIdVal);                                                         
                    }
                    if(tempx[key].label == 'userCookieVal'){
                        cookieVal = tempx[key].value;
                        CheckCookieUser();
                    }    
                    if((cookieVal.length > 3)&& (email.length > 3)&& (psnIdVal.length > 1)){
                        //alert("Check user");
                        CheckBlockedUser();
                    }                                        
                });*/    
                email = '';psnIdVal = '';cookieVal = '';          
                for(var i=0; i < tempx.length; i++){                                        
                    //console.log(tempx);
                    if(tempx[i].label == 'EmailDetail'){
                        email = tempx[i].value;
                        //alert('EMAIL:'+email);                                                        
                    }
                    if(tempx[i].label == 'PSNOnlineDetail'){
                        psnIdVal = tempx[i].value;
                        //alert('PSNID:'+psnIdVal);                                                         
                    }
                    if(tempx[i].label == 'userCookieVal'){
                        cookieVal = tempx[i].value;
                        CheckCookieUser();
                    }    
                    /*if((cookieVal.length > 3)&& (email.length > 3)&& (psnIdVal.length > 1)){
                        alert("Check user");
                        CheckBlockedUser();
                    }*/                                 
                }                                                                                                 
            } else {
                //alert('Getting the details was not successful');
            }
            if((cookieVal.length > 3)&& (email.length > 3)&& (psnIdVal.length > 1)){
                CheckBlockedUser();
            }                   
        }; 
        function acceptChat(){            
            sforce.console.chat.acceptChat(chatKey, acceptSuccess);        
        };
        function CheckBlockedUser(){
            //alert(email+psnIdVal+cookieVal);          
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.StateValuesRemote.checkBlockedUser}', 
            email, 
            cookieVal,
            psnIdVal,
            function(result, event){
                if (event.status) {                 
                    if(result){
                        //do nothing
                        //alert(result);                        
                        declineChat();
                    }else{                  
                        //alert("GO AHEAD!");
                        setTimeout(acceptChat,500);                                             
                    }
                } else if (event.type === 'exception') {
                    //nothing
                    alert(event.message);
                } else {
                    //nothing
                    alert(event.message);
                }
            }, 
            {escape: true}
            );
            
        };
        function CheckCookieUser(){
            //alert("CHECK COOKIE");
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.StateValuesRemote.checkCookieUser}', 
            cookieVal, 
            function(result, event){
                if (event.status) {
                    //alert(result);
                    if(result){
                        //do nothing                        
                        declineChat();
                    }else{                  
                        //alert("GO AHEAD!");
                    }
                } else if (event.type === 'exception') {
                    //nothing
                    //alert(event.message);
                } else {
                    //nothing
                    //alert(event.message);
                }
            }, 
            {escape: true}
            );
            
        };   
</script>   
    <apex:form >
    </apex:form>
</apex:page>