<apex:page standardController="Contact"
    extensions="ConsumerSearchController" tabStyle="Contact"
    sidebar="false" id="nccPage">
    <apex:includeScript value="/support/console/29.0/integration.js" />
    <script type='text/javascript'>
    function searchConsumer(ev)  {
        if (window.event && (window.event.keyCode == 13 || ev.which == 13)) {
            searchConsumerByFilter();
            if(window.event.preventDefault){
              window.event.preventDefault();
            } else {
              event.returnValue = false;            
            }
            return false;
         } else {
              return true;
         }
     }
    </script>
    <script type='text/javascript'>
        var tabId = '';
        /*var firstName = '';
        var lastName = '';*/
        var eMail = '';
        window.onload = function() {
            getContactInfo();                 
        };      
        function getContactInfo() {
            sforce.console.getEnclosingPrimaryTabId(closeSubtab);
        }        
        var closeSubtab = function closeSubtab(result) {         
            tabId = result.id;
            //alert("TABID:"+tabId);
            sforce.console.chat.getDetailsByPrimaryTabId(tabId, getDetailsSuccess);
        };        
        function getDetailsSuccess(result) {            
            if (result.success == true) {                          
                var tempx = result.details.customDetails;
                /*Object.keys(tempx).forEach(function (key) {
                    //console.log(tempx[key]);
                    if(tempx[key].label == 'FirstNameDetail'){
                        firstName = tempx[key].value;
                    }
                    if(tempx[key].label == 'LastNameDetail'){
                        lastName = tempx[key].value;
                    }
                    if(tempx[key].label == 'EmailDetail'){
                        eMail = tempx[key].value;
                    }                   
                    //alert("fnmae:"+firstName+":lname:"+lastName+":email:"+eMail);                     
                });*/
                for(var i=0; i < tempx.length; i++){
                	//console.log(tempx);
                	if(tempx[i].label == 'EmailDetail'){
                        eMail = tempx[i].value;
                    }                                   	                                	
                }             
            } else {
                alert('Getting the details was not successful');
            }
            runSearch();
        };
        function runSearch() {
            document.getElementById("nccPage:consumerForm:nccPageBlock:txtEmail").value = eMail;
            document.getElementById('nccPage:consumerForm:nccPageBlock:nccPageBlockBtn:nccSearchBtn').click();
        };
</script>
    <apex:form id="consumerForm">
        <apex:pageMessages id="pgMsg">
        </apex:pageMessages>
        <apex:pageBlock title="Consumer Search" id="nccPageBlock">
            <apex:pageBlockButtons id="nccPageBlockBtn">
                <!-- <apex:CommandButton value="Select" action="{!selectConsumer}" status="goStatus"   oncomplete="refreshConsumerJS();" reRender="pgMsg,HasErrorInput"/>
                <apex:commandButton value="test" onclick="getContactInfo();return false;"/>-->
                <apex:CommandButton value="Search"
                    action="{!searchConsumerByFilter}" status="goStatus"
                    reRender="pgMsg,resultDiv, HasErrorInput, noResultDiv"
                    id="nccSearchBtn" />
                <apex:CommandButton value="New Contact" action="{!gotoContact}"
                    status="goStatus" />
                <apex:actionfunction name="createAssetRecordsJS"
                    action="{!createAssetRecords}">
                    <apex:param name="isConsole" assignTo="{!isInConsole}" value="" />
                </apex:actionfunction>
                <apex:actionFunction name="searchConsumerByFilter"
                    action="{!searchConsumerByFilter}"
                    reRender="pgMsg,resultDiv, noResultDiv" status="goStatus" />
                <apex:actionFunction name="resetSearchStatus"
                    action="{!resetSearchStatus}"
                    reRender="pgMsg,SearchDiv, resultDiv, noResultDiv"
                    status="goStatus" />
                <apex:actionfunction name="refreshConsumer"
                    action="{!refreshConsumer}"
                    oncomplete="createAssetRecordsJS(sforce.console.isInConsole());">
                    <apex:param name="isConsole" assignTo="{!isInConsole}" value="" />
                </apex:actionfunction>
                <apex:actionFunction action="{!selectConsumer}"
                    name="selectMdmContactJS" status="goStatus"
                    oncomplete="refreshConsumerJS();" reRender="pgMsg,HasErrorInput">
                    <apex:param name="selectedMdmContactField"
                        assignTo="{!selectedMdmContactId}" value="" />
                </apex:actionFunction>
                <apex:actionstatus id="goStatus">
                    <apex:facet name="start">
                        <img class="waitingImage" src="/img/loading.gif"
                            title="Please Wait..." />
                        <span class="waitingDescription">Please Wait...</span>
                    </apex:facet>
                </apex:actionstatus>

            </apex:pageBlockButtons>
            <apex:outputpanel id="SearchDiv">
                <table class="list" width="100%">

                    <tr class="dataRow">
                        <td class="labelCol" colspan="1" style="width: 200px;">
                            <h2 class="pageDescription">New1 Consumer Search</h2>
                        </td>
                        <td class="dataCell" colspan="4"><a
                            href="javascript:void(0);" onclick="resetSearchStatus();">
                                Reset Search</a></td>
                    </tr>
                    <tr class="dataRow">
                        <td class="labelCol" style="width: 200px;">Search by:</td>


                        <td class="dataCell">PSN Online ID</td>
                        <td class="dataCell">Email</td>
                        <td class="dataCell">Phone</td>

                    </tr>
                    <tr class="dataRow">
                        <td class="labelCol" style="width: 200px;">Search criteria:
                        </td>
                        <td class="dataCell"><apex:outputPanel >
                                <apex:inputText value="{!consumerPSNOnlineIdToSearch}"
                                    id="txtPSN" style="width:200px;"
                                    onkeypress="return searchConsumer(event);" />
                            </apex:outputPanel></td>
                        <td class="dataCell"><apex:outputPanel >
                                <apex:inputText value="{!consumerEmailToSearch}" id="txtEmail"
                                    style="width:200px;" onkeypress="return searchConsumer(event);" />
                            </apex:outputPanel></td>
                        <td class="dataCell"><apex:outputPanel >
                                <apex:inputText value="{!consumerPhoneToSearch}" id="txtPhone"
                                    style="width:150px;" onkeypress="return searchConsumer(event);" />
                            </apex:outputPanel></td>
                    </tr>
                </table>
            </apex:outputpanel>
            <apex:outputpanel id="resultDiv">
                <apex:outputpanel layout="block"
                    rendered="{!IF(resultList.size == 0,false,true)}">
                    <apex:pageBlockTable value="{!resultList}" var="consumer">
                        <apex:column >
                            <apex:facet name="header" />
                            <a id="{!consumer.mdmContactId}" href="javascript:void(0);"
                                onclick="selectMdmContactJS(this.id);"
                                style="text-decoration: none;"> [Select] </a>
                        </apex:column>
                        <!--  <apex:column headerValue="Select">
                        <input type="radio" name="ctRadio" value="{!consumer.mdmContactId}"/>
                        </apex:column>-->
                        <apex:column headerValue="First Name" value="{!consumer.fName}" />
                        <apex:column headerValue="Last Name" value="{!consumer.lName}" />
                        <apex:column headerValue="PSN Online ID"
                            value="{!consumer.PSNHandle}" />
                        <apex:column headerValue="PSN Sign-In ID"
                            value="{!consumer.psnSignInId}" />
                        <apex:column headerValue="PSN Phone" value="{!consumer.psnPhone}" />
                        <apex:column headerValue="Phone" value="{!consumer.crmPhone}" />
                        <apex:column headerValue="PSN Email" value="{!consumer.psnEmail}" />
                        <apex:column headerValue="Email" value="{!consumer.siebelEmail}" />
                        <apex:column headerValue="Birth Date"
                            value="{!consumer.birthDate}" />
                    </apex:pageBlockTable>
                </apex:outputpanel>
            </apex:outputpanel>
            <apex:outputpanel id="HasErrorInput">
                <script>
    function refreshConsumerJS(){
     var hasErr = '{!hasErrorInPage}';
     if(hasErr == 'false'){
        refreshConsumer(sforce.console.isInConsole());
     }
    }
    </script>
            </apex:outputpanel>
            <apex:outputpanel id="noResultDiv" layout="block">
                <apex:pageBlockSection rendered="{!IF(resultList.size == 0,true,false)}">
                    <apex:outputText value="No records to display." />
                </apex:pageBlockSection>
            </apex:outputpanel>
        </apex:pageBlock>
    </apex:form>
</apex:page>