<apex:page standardController="Account" extensions="ConsumerSearchController" 
     sidebar="false"   showHeader="false" tabStyle="Account"  >
 
 <apex:includeScript value="/support/console/26.0/integration.js"/>   
 
<script type='text/javascript'>
    function searchConsumer(ev)  {
        if (window.event && (window.event.keyCode == 13 || ev.which == 13)) {
            searchConsumerByFilter();
            if(window.event.preventDefault){
              window.event.preventDefault();
            } else {
              event.returnValue = false;            
            }
            return false;
         } else {
              return true;
         }
     }
     
     function CancelJS() {
       if(sforce.console.isInConsole()) {
         closeSubTab();
       }  else {
         Cancel();
       }
     }
    
    function closeSubTab() {
      sforce.console.getEnclosingTabId(closeSubtab);
    }
  var closeSubtab = function closeSubtab(result) {
    //Now that we've got the tab ID, we can close it
    var tabId = result.id;
    sforce.console.closeTab(tabId);
  };
</script>
    
    <apex:form id="consumerForm">
     <apex:pageMessages id="pgMsg">
     </apex:pageMessages>
   
  
    <apex:pageBlock title="New Consumer">
   
    <apex:pageBlockButtons >
    
<!--  
     <apex:CommandButton value="Select" action="{!selectConsumer}" status="goStatus"   oncomplete="refreshConsumerJS();" reRender="pgMsg,HasErrorInput"/>
-->

    <apex:CommandButton value="Search" action="{!searchConsumerByFilter}" status="goStatus" reRender="pgMsg,resultDiv, noResultDiv"/>
    <apex:CommandButton value="New Contact" action="{!gotoContact}" status="goStatus" />
    <input type="button" value="Cancel" class="btn" onclick="CancelJS(sforce.console.isInConsole());"/>


     <apex:actionFunction name="createAssetRecordsJS" action="{!createAssetRecords}">
       <apex:param name="isConsole" assignTo="{!isInConsole}" value="" />
     </apex:actionFunction>
     
     <apex:actionFunction name="searchConsumerByFilter" action="{!searchConsumerByFilter}" reRender="pgMsg,resultDiv, noResultDiv" status="goStatus" />
     
     <apex:actionFunction name="Cancel" action="{!cancel}" status="goStatus" >
       <apex:param name="isConsole" assignTo="{!isInConsole}" value="" />
      </apex:actionFunction>
     
     <apex:actionFunction name="resetSearchStatus" action="{!resetSearchStatus}" reRender="pgMsg,SearchDiv, resultDiv, noResultDiv" status="goStatus" />
     <apex:actionfunction name="refreshConsumer" action="{!refreshConsumer}"  oncomplete="createAssetRecordsJS(sforce.console.isInConsole());">
       <apex:param name="isConsole" assignTo="{!isInConsole}" value="" />
     </apex:actionfunction>
    <apex:actionFunction action="{!selectConsumer}" name="selectMdmContactJS" status="goStatus"   oncomplete="refreshConsumerJS();" reRender="pgMsg,HasErrorInput" >
        <apex:param name="selectedMdmContactField" assignTo="{!selectedMdmContactId}" value="" />
    </apex:actionFunction>     
     <apex:actionstatus id="goStatus"> 
      <apex:facet name="start">
       <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." /> 
       <span class="waitingDescription">Please Wait...</span>
      </apex:facet>
    </apex:actionstatus>
    
   </apex:pageBlockButtons> 
    <apex:outputpanel id="SearchDiv">
   <table class="list" width="100%">

            <tr class="dataRow" >
                <td class="labelCol" colspan="1" style="width:200px;" >
                    <h2 class="pageDescription">Consumer Search</h2>
                </td>
                <td class="dataCell" colspan="4">
                    <a href="javascript:void(0);" onclick="resetSearchStatus();"> Reset Search</a> 
                </td>
            </tr>   
            <tr class="dataRow">
                <td class="labelCol" style="width:200px;" > Search by: </td>


                <td class="dataCell" >PSN Online ID</td>
                <td class="dataCell" >Email</td>
                <td class="dataCell" >Phone</td>

            </tr>   
            <tr class="dataRow">
                <td class="labelCol" style="width:200px;" > Search criteria: </td>
                <td class="dataCell" >  
                     <apex:outputPanel >
                        <apex:inputText value="{!consumerPSNOnlineIdToSearch}"  id="txtPSN" style="width:200px;" onkeypress="return searchConsumer(event);"/>
                    </apex:outputPanel> 
                </td>
                <td class="dataCell" >  
                     <apex:outputPanel >
                        <apex:inputText value="{!consumerEmailToSearch}" id="txtEmail" style="width:200px;" onkeypress="return searchConsumer(event);"/>
                    </apex:outputPanel> 
                </td>
                <td class="dataCell" >  
                     <apex:outputPanel >
                        <apex:inputText value="{!consumerPhoneToSearch}"  id="txtPhone" style="width:150px;" onkeypress="return searchConsumer(event);"/>
                    </apex:outputPanel> 
                </td>


            </tr>   
        </table>
     </apex:outputpanel> 
   
   
    <apex:outputpanel id="resultDiv">
   
        <apex:outputpanel layout="block" rendered="{!IF(resultList.size == 0,false,true)}">
            <apex:pageBlockTable value="{!resultList}" var="consumer">

            <apex:column >                
                 <apex:facet name="header"/>
                     <a id="{!consumer.mdmContactId}" href="javascript:void(0);"
                         onclick="selectMdmContactJS(this.id);" style="text-decoration:none;"> [Select] </a>                                                              
            
            </apex:column>
             
             <!--  
             <apex:column headerValue="Select">
                <input type="radio" name="ctRadio" value="{!consumer.mdmContactId}"/>
             </apex:column>
             -->
             
             
             <apex:column headerValue="First Name" value="{!consumer.fName}"/>
             <apex:column headerValue="Last Name" value="{!consumer.lName}"/>
             <apex:column headerValue="PSN Online ID" value="{!consumer.PSNHandle}"/>
             <apex:column headerValue="PSN Sign-In ID" value="{!consumer.psnSignInId}"/>
             <apex:column headerValue="PSN Phone" value="{!consumer.psnPhone}"/>
             <apex:column headerValue="Phone" value="{!consumer.crmPhone}"/>
             <apex:column headerValue="PSN Email" value="{!consumer.psnEmail}"/>
             <apex:column headerValue="Email" value="{!consumer.siebelEmail}"/>
             <!--apex:column headerValue="Birth Date" value="{!consumer.birthDate}"/>-->
             <apex:column headerValue="PlayStation Plus"> 
             <apex:image id="psplussubscriberimage" url="{!if(consumer.PSPlusSubscriber = 'TRUE',"/resource/1403907833000/PSPlus", 
             "/resource/1407306921000/EmptyFile")}" height="15" width="15"/> {!if(consumer.PSPlusSubscriber = 'TRUE',"Yes ","No")}  
             </apex:column>
             <apex:column headerValue="Expiration Date" value="{!consumer.PSPlusExpiration}"/>
             
             
             
            </apex:pageBlockTable>
       </apex:outputpanel> 
       
   </apex:outputpanel>
   
   <apex:outputpanel id="HasErrorInput">
   <script>
    function refreshConsumerJS(){
     var hasErr = '{!hasErrorInPage}'; 
     if(hasErr == 'false'){
        refreshConsumer(sforce.console.isInConsole());
     }
    }
    </script>
   </apex:outputpanel>
   <apex:outputpanel id="noResultDiv" layout="block">
    <apex:pageBlockSection rendered="{!IF(resultList.size == 0,true,false)}">
      <apex:outputText value="No records to display." />
    </apex:pageBlockSection>
   </apex:outputpanel>
  </apex:pageBlock>
 </apex:form>
</apex:page>