<apex:page controller="NewContactController" tabstyle="Contact"  
  showHeader="false"  sidebar="false" >
  <apex:includeScript value="/support/console/26.0/integration.js"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        var htmlStr = '<div class="bPageTitle"><div class="ptBody"><div class="content"><img title="Contact" class="pageTitleIconCustom" alt="Contact" src="/s.gif"><h1 class="pageType">Contact Edit<span class="titleSeparatingColon">:</span></h1><h2 class="pageDescription"> New Contact</h2><div class="blank">&nbsp;</div></div></div><div class="ptBreadcrumb"></div></div>';
        $('.apexp').prepend(htmlStr);
    });
    
  function closeSubTab() {
    if(sforce.console.isInConsole()) {
          sforce.console.getEnclosingTabId(closeSubtab);
    } else {
     cancelAF();
    }
   //}
  }
  
  var closeSubtab = function closeSubtab(result) {
    //Now that we've got the tab ID, we can close it
    var tabId = result.id;
    sforce.console.closeTab(tabId);
  };
  
    function goToBack(){
        if(sforce.console.isInConsole()) {
          closeSubTab();
        } else {
          Cancel();
        }
        return false;
    }
      
</script>

<style>
.pageTitleIconCustom{
        background-image: url("/img/sprites/master.png");
        background-position:  0 -1022px;
        height: 32px;
        width: 32px;
        display: inline;
        float: left;
        margin-right: 5px;
        border: 0 none;
      }
</style>  
    <apex:form id="frm">
    
        <apex:actionFunction name="Save" action="{!saveContact}" status="status" rerender="frm">
          <apex:param value="" name="isInConsole" assignTo="{!isInConsole}"/>
        </apex:actionFunction>
 
        <apex:actionFunction name="cancelAF" action="{!cancelContact}" status="status"/>
 
        <apex:actionFunction name="Cancel" action="{!cancel}"  status="status"   /> 
       
        <apex:pageBlock id="resultBlock" title="Contact Edit" mode="edit">
         <apex:pageMessages />
            <apex:pageBlockButtons >
                <input type="button" class="btn" value="Save" onclick="Save(sforce.console.isInConsole());"/>
                
                <!--  
                <input type="button" class="btn" onclick="closeSubTab();" value="Cancel" immediate="true"  />
                 
                <input type="button" class="btn" value="Cancel" onclick="return goToBack();"  immediate="true"  />
            
                -->
                <apex:commandButton value="Cancel"  action="{!cancel}" immediate="true"  />
            
            
            </apex:pageBlockButtons>
         <apex:actionStatus id="status">    
            <apex:facet name="start">
                <span style="color:red;">Saving...</span> <img src="/img/loading.gif" />
             </apex:facet>
        </apex:actionStatus>
            <apex:pageBlockSection title="Contact Information" columns="1">
                 <apex:inputField value="{!newContact.FirstName}"/>
                 <apex:inputField value="{!newContact.LastName}"/>
                 <apex:inputField value="{!newContact.Phone}" required="False" />
                 <apex:inputField value="{!newContact.Email}"/>
                 <apex:inputField value="{!newContact.LATAM_Country__c}"/>
                 
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>