<apex:page showChat="false" showHeader="false" sidebar="false" applyBodyTag="false" applyHtmlTag="false" id="optPage">
    <apex:includeScript value="/support/console/20.0/integration.js"/>
    <script type="text/javascript">
        window.onload = function() {
            closeTab();       
            testCloseTab();
            
        };
        function testCloseTab() {
            //First find the ID of the current tab to close it
            sforce.console.getEnclosingTabId(closeSubtab);
            window.top.close();
            
        }
        
        var closeSubtab = function closeSubtab(result) {
            //Now that we have the tab ID, we can close it
            var tabId = result.id;
            sforce.console.closeTab(tabId);
        };
        function closeTab(){        
        window.top.close();
        }
        function RedirectHome(){
            var hostname= window.location.hostname;
            window.location = 'https://'+hostname+'/_ui/knowledge/ui/KnowledgeHome'
        }
        
    </script>
    <script type="text/javascript">
        var myVar=setInterval(function () {myTimer()}, 1000);
        var optionType = 'Break';
        function myTimer() {
            //alert("calling function");
            document.getElementById('optPage:optForm:optBtn').click();
        }
    </script>
    <apex:form id="optForm">
    <text style="display: none;">Click here to go </text>
    <apex:commandButton id="optBtn" value="Back" onclick="RedirectHome(); return false;" style="display: none;"/>
    </apex:form>
    
</apex:page>