<apex:page docType="html-5.0" sidebar="false" showHeader="false" title="PlayStation - Error">

<link rel="Shortcut Icon" type="image/x-icon" href="{!$Resource.ps32ico}"/> 
    <apex:stylesheet value="{!URLFOR($Resource.ErrorAssets, 'error.css')}"/>

    <body>
        <div id="logo"></div>
        <apex:outputPanel id="msgs" layout="block" styleClass="txt1">
            <apex:outputText styleclass="ovr2 red1" value="{!$Label.General_Error_CD}"/>
            
        </apex:outputPanel>
    </body>
</apex:page>