<apex:page showHeader="false" controller="StateValuesRemote" extensions="reCaptchaUtility" language="en" action="{!validateSession}">
<!-- AB : 04/15/15 : reCaptcha Code -->
<script src="https://www.google.com/recaptcha/api.js?hl=en"></script>

<!-- This script takes the endpoint URL parameter passed from the deployment page and makes it the action for the form -->
<style type="text/css"> 
    .damn-good {
        margin-left:auto;
        margin-right:auto;
        max-width: 500px;
        height: 740px;
        background: #F7F7F7;
        background-image: url("{!URLFOR($Resource.prechatimages, 'prechatimages/ps_vue.jpg')}");
        background-repeat: no-repeat;
        padding: 25px 15px 25px 10px;    
        color: #888;
        text-shadow: 1px 1px 1px #FFF;
        border:1px solid #E4E4E4;
    }
    .damn-good h1 {
        font-size: 25px;
        padding: 0px 0px 10px 40px;
        display: block;
        border-bottom:1px solid #E4E4E4;
        margin: -10px -15px 10px -10px;;
        color: #333333;
    }
    .damn-good h1>span {
        display: block;
        font-size: 11px;
    }
    .damn-good label {
        display: block;
        margin: 0px;
    }
    .damn-good label>span {
        float: left;
        width: 20%;
        text-align: right;
        padding-right: 10px;
        margin-top: 10px;
        color: #333333;
    }
    .damn-good input[type="text"], .damn-good input[type="email"], .damn-good textarea, .damn-good select {
        border: 1px solid #DADADA;
        color: #888;
        height: 30px;
        margin-bottom: 16px;
        margin-right: 6px;
        margin-top: 2px;
        outline: 0 none;
        padding: 3px 3px 3px 5px;
        width: 70%;
        font-size: 12px;
        line-height:15px;
        box-shadow: inset 0px 1px 4px #ECECEC;
        -moz-box-shadow: inset 0px 1px 4px #ECECEC;
        -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
    }
    .damn-good textarea{
        padding: 5px 3px 3px 5px;
    }
    .damn-good select {        
        appearance:none;
        -webkit-appearance:menulist;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        width: 70%;
        height: 35px;
        line-height: 25px;    
        cursor: default;
    }
    .damn-good textarea{
        height:100px;
    }
    .damn-good .button {
        background: grey;
        border: none;
        padding: 10px 25px 10px 25px;
        color: #FFF;
        box-shadow: 1px 1px 5px #B6B6B6;
        border-radius: 3px;
        text-shadow: 1px 1px 1px #9E3F3F;
        cursor: pointer;
    }
    .damn-good .button:hover {
        background: green
    }
</style>

<script type="text/javascript">

   var cookieNow = '';
   var emailNow = '';

   function validate(){
        getCookie("apex__pge_cntid");
        document.forms['prechatForm']['liveagent.prechat:userCookieVal'].value = cookieNow;
        document.getElementById('prechat_email_error').style.display = 'none';
        document.getElementById('prechat_details_error').style.display = 'none';
        document.getElementById('prechat_recaptcha_error').style.display = 'none';

        // AB : 04/15/15 : reCaptcha Code (validateHuman)
        if(validateEmail()&&validateForm()){
            validateHuman();
        }
   }
   function handlePageLoad() {
       var endpointMatcher = new RegExp("[\\?\\&]endpoint=([^&#]*)");
       document.getElementById('prechatForm').setAttribute('action',decodeURIComponent(endpointMatcher.exec(document.location.search)[1]));
       document.getElementById('prechatForm').submit();
   }

   // AB : 04/15/15 : reCaptcha Code
   function validateHuman(){
        Visualforce.remoting.timeout = 20000;
        var token = grecaptcha.getResponse();
        
        Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.reCaptchaUtility.reCaptchaVerify}', 
            token,
            handleResult
        );
    }
    function handleResult(result, event){
        if (event.status) {
            if(result){
                validateUser();
                
                return true;
            }else{                  
                document.getElementById('prechat_recaptcha_error').style.display = 'block';
                return false;
            }
        } else if (event.type === 'exception') {
            document.getElementById('prechat_recaptcha_error').style.display = 'block';
            return false;
        } else {
            document.getElementById('prechat_recaptcha_error').style.display = 'block';
            return false;
        }
    }
   
    function validateEmail() {
        var x = document.forms['prechatForm']['liveagent.prechat:EmailDetail'].value;
        emailNow = x;
        var atpos = x.indexOf("@");
        var dotpos = x.lastIndexOf(".");
        if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
            //alert("Not a valid e-mail address");
            document.getElementById('prechat_email_error').style.display = 'block';
            return false;
        }else{
            return true;
        }
     }
    
     function validateForm() {
        var a = document.forms['prechatForm']['liveagent.prechat:FirstNameDetail'].value;
        var b = document.forms['prechatForm']['liveagent.prechat:LastNameDetail'].value;
        var c = document.forms['prechatForm']['liveagent.prechat:PSNSignInDetail'].value;
        var d = document.forms['prechatForm']['liveagent.prechat:PSNOnlineDetail'].value;
        var temp=document.forms['prechatForm']['liveagent.prechat:FirstNameDetail'].value +" " + document.forms['prechatForm']['liveagent.prechat:LastNameDetail'].value.substr(0,1); 
        document.getElementsByName('liveagent.prechat.name')[0].value=temp; 
        if ((a == null || a == "")||(b == null || b == "")||(c == null || c == "")||(d == null || d == "")) {
            //alert("Please complete the required fields.");
            document.getElementById('prechat_details_error').style.display = 'block';
            return false;
        }else {
            return true;
        }
     }
     function validateUser(){
        var psnNow = document.getElementById("customField5").value;  
        var urlNow = "{!url}";
        var ipNow = "{!ip}";      
        Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.StateValuesRemote.checkBlockedUser}',
            emailNow,     
            cookieNow,
            psnNow,
            urlNow,
            ipNow,           
            function(result, event){
                if (event.status) {
                    //alert(result);  
                    if(result){                        
                        //window.location = "/apex/LiveAgentError";
                        window.location = window.location.href.split("?")[0] + "/LiveAgentError";
                    }else{                  
                        handlePageLoad();                                          
                    }                                                                         
                } else if (event.type === 'exception') {
                    //alert(event.message);
                } else {
                    //alert(event.message);
                }
            }, 
            {escape: true}
            );  
     }
     function productDetailChangeFunc(){         
        var temp = document.getElementById("customField7");
        var productDetailVal = temp.options[temp.selectedIndex].text;       
        if(productDetailVal == "Hardware"){         
            document.getElementById('customField6Label').style.display = "block";           
            document.getElementById('customField8LabelPddPsn').style.display = "none";
            document.getElementById('customField8LabelPddHw').style.display = "block";          
        }
        if(productDetailVal == "PlayStation Network"){          
            document.getElementById('customField6Label').style.display = "block";           
            document.getElementById('customField8LabelPddPsn').style.display = "block";
            document.getElementById('customField8LabelPddHw').style.display = "none";
        }
        if(productDetailVal == "Billing" || 
            productDetailVal == "Voucher" ||
            productDetailVal == "General Question"){            
            document.getElementById('customField6Label').style.display = "none";
            document.getElementById('customField8LabelPddPsn').style.display = "none";
            document.getElementById('customField8LabelPddHw').style.display = "none";
        }
     }
     function captureValSelectHw(){
        var selectedValueHw = document.getElementById("customField8Hw").value;
        document.forms['prechatForm']['liveagent.prechat:ProductDetailDesc'].value = selectedValueHw;
     }
     function captureValSelectPsn(){
        var selectedValuePsn = document.getElementById("customField8Psn").value;        
        document.forms['prechatForm']['liveagent.prechat:ProductDetailDesc'].value = selectedValuePsn;
     }

     function getCookie(pge_cntid) {
        var cname = pge_cntid + "=";
        var expires = "expires=";
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) {
            var c = ca[i];
            //console.log(ca);
            while (c.charAt(0)==' ') c = c.substring(1);
            if (c.indexOf(cname) != -1) {
                cookieNow = c.substring(cname.length, c.length);
                //var temp = cookieNow.split(':');
                //expireNow = temp[2]
            }           
        }
     }
</script>

    <form method='post' id='prechatForm' class="damn-good">
        <input type='hidden' name='liveagent.prechat.name' id='prechat_field'/> 
        <h1 style="font-size:150%">{!$Label.Page_Title}<span></span></h1>
        <label>
            <span>First name*</span>
            <input type='text' name='liveagent.prechat:FirstNameDetail' id='customField1' />
        </label>
        <label>
            <span>Last name*</span>
            <input type='text' name='liveagent.prechat:LastNameDetail' id='customField2' />
        </label>
        <label>
            <span>Email*</span>
            <input type='text' name='liveagent.prechat:EmailDetail' id='customField3' />
        </label>
        <label>
            <span>PSN Sign-In ID*</span>
            <input type='text' name='liveagent.prechat:PSNSignInDetail' id='customField4' />
        </label>
        <label>
            <span>PSN Online ID*</span>
            <input type='text' name='liveagent.prechat:PSNOnlineDetail' id='customField5' />
        </label>    
        <!-- JL - Removing Product selection
        <label>
            <span>What can we help you with today?*</span><br></br>
            <select name="liveagent.prechat:ProductDetailResolution" id="customField7" onchange="productDetailChangeFunc();" >
                <option value="PlayStation Network">PlayStation Network</option>
                <option value="Hardware/Networking">Hardware</option>
                <option value="General">General Question</option>
                <option value="Refunds">Billing</option>
                <option value="Vouchers">Voucher</option>
            </select>
        </label>
        -->
        <!-- Product is assigned PSN -->
        <input type="hidden" name="liveagent.prechat:ProductDetailResolution" id="customField7" value="PlayStation Network" />
        <label id="customField6Label" style="display: block;">
            <span>What PlayStation product do you have questions about?*</span><br></br><br></br>
            <select name='liveagent.prechat:ProductDetail' id='customField6' >
                <option value="All">All</option>
                <option value="PS4">PS4</option>
                <option value="PS3">PS3</option>
                <!-- removing for PS Vue
                <option value="PS2">PS2</option> 
                <option value="PS Vita">PS Vita</option>
                <option value="PSP">PSP</option>
                <option value="Peripherals">Accessories</option>
                -->
            </select>
        </label>
        <label id="customField8LabelPddHw" style="display: none;">
            <span>Tell us more about your issue.*</span><br></br>
            <select id="customField8Hw" onchange="captureValSelectHw();">
                <option value="None">None</option>
                <option value="How To">How Do I</option>
                <option value="Troubleshooting">Help Me Troubleshoot</option>
                <option value="Account Management">Account Management</option>
                <option value="Games">Games</option>
                <option value="Movies/Video/Music">Movies/Video/Music</option>
            </select>
        </label> 
        
        <!-- Predefined as PS Vue -->
        <input type="hidden" name="liveagent.prechat:ProductDetailDesc" id="customField8Psn" value="PlayStation Vue" />
        
        <!-- Use this if adding more Apps other than just PS Vue 
        <label id="customField8LabelPddPsn" style="display: block;">
            <span>Tell us more about your issue.*</span><br></br>
            <select id="customField8Psn"  onchange="captureValSelectPsn();">
                 
                <option value="None">None</option>
                <option value="PlayStation Store">PlayStation Store</option>
                
                <option value="PlayStation Vue">PlayStation Vue</option>
                
                <option value="PlayStation Now">PlayStation Now</option>
                <option value="PlayStation Plus">PlayStation Plus</option>
                <option value="Applications">Apps</option>
                <option value="Games">Games</option>
                
            </select>
        </label>
        -->
        
        <!-- AB : 04/16/15 : reCaptcha Code -->
        <div class="g-recaptcha" style="position:relative;left:110px;" data-sitekey="{!publicKey}"></div>
        <br/>
        
        <input type="hidden" name="liveagent.prechat:ProductDetailDesc" id="customField8" />
        <input type="hidden" name="liveagent.prechat:userCookieVal" id="customField9" />               
        <input type="hidden" name="liveagent.prechat:userOriginVal" id="customField10" value="Chat" />
        <!-- Map liveagent.prechat:FirstNameDetail and liveagent.prechat:LastNameDetail custom detail to Contact's field FirstName and LastName -->
        <input type="hidden" name="liveagent.prechat.findorcreate.map:Contact" value="FirstName,FirstNameDetail;LastName,LastNameDetail;Email,EmailDetail" />
    
        <text id='prechat_details_error' style="font-family:arial;color:red;font-size:12px;display: none;">{!$Label.Required_Fields_Missing}</text>
        <text id='prechat_email_error' style="font-family:arial;color:red;font-size:12px;display: none;">{!$Label.Invalid_Email}</text>
        <!-- AB : 04/16/15 : reCaptcha Code -->
        <text id='prechat_recaptcha_error' style="font-family:arial;color:red;font-size:12px;display: none;">{!$Label.reCaptcha_Error}</text>
        <br/>
        <button type="button" class="button" value='Validate' id='prechat_submit_validate' onclick="validate(); return false;">{!$Label.Chat_Button}</button> 
        <input type='submit' value='Request Chat' id='prechat_submit' style="display: none;"/>
    </form>
</apex:page>