<apex:page controller="RefreshConsumerController" action="{!refreshConsumer}"  sidebar="false" showHeader="false">
 <apex:form >
  <apex:actionFunction name="createAssets" action="{!createAssetRecords}"/>
  <script>
    window.onload = function(){createAssets();}
  </script>
  <apex:pageBlock >
   <apex:pageMessages />
   
   <apex:pageBlockButtons location="top">
	 <apex:commandButton value="Return to Contact" action="{!returnToContact}"/>
	 <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." /> Please Wait...
    </apex:pageBlockButtons>

  </apex:pageBlock>
 </apex:form>
</apex:page>