<apex:page controller="SCEA_ArticleDetailController" extensions="SCEA_GlobalSearchController" showHeader="false" sidebar="false" docType="html-5.0" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false" language="{!selectedLanguage}">
     <apex:composition template="SCEA_Template">

     </apex:composition>
    <c:SCEA_Styles />
    <!--<apex:form id="articleForm">-->
    <style>
        .alert-danger{
            position:relative;
        }
    </style>
    <apex:define name="body">

     <div class="container-fluid">
     
     <div class="global-search-container">
     <span class="back_btn_article">{!$Label.label_back} </span>
        <apex:form >
          <apex:inputText id="autocomplete_textbox" styleClass="global_search" value="{!globalSearchString}" html-placeholder="{!$Label.search_global_placeholder}" /> 
            <apex:commandButton id="searchArticle"  styleClass="searchButton search-icon-white" value="" action="{!globalSearch}"/>
         </apex:form>
     </div>
   
        <div class="article_container">
            
           <!--  <apex:outputPanel rendered="{!NOT(ISNULL(articleDetail))}">
                <h4>{!articleDetail.Title}</h4><br/>
                {!articleDetail.sObjectName}&nbsp;&nbsp;&nbsp;&nbsp;Published on {!articleDetail.publishedDate}<br/>
                ID: {!articleDetail.ArticleNumber}<br/>
                <apex:outputLabel value="{!articleDetail.overviewSummary}" escape="false"/><br/>
            </apex:outputPanel> -->
            <apex:outputPanel rendered="{!ISNULL(articleDetail)}">
                <h4>{!$Label.Article_Det_NoArticle}</h4><br/>
            </apex:outputPanel>

             <apex:outputPanel rendered="{!NOT(ISNULL(articleDetail))}">
                <div class="article-header">
                    <div class="article-id"> <!--ID: {!articleDetail.ArticleNumber}--></div>
                    <div class="mobile-link icon-share-icon visible-xs">{!$Label.Article_Det_Link}</div>
                    <div class="article-actions hidden-xs">
                        <span class="published">{!$Label.Article_Det_Published}: {!articleDetail.publishedDate}</span>
                        <div class="article-print icon-print-icon hidden-xs hidden-sm">{!$Label.Article_Det_Print}</div>
                        <div class="article-link icon-share-icon">{!$Label.Article_Det_Link}</div>

                        
                    </div>
                </div>

                  <div id="copy-link-container" class="closed">
                         <p id="linktext"></p>
                        <div>Copy and share link</div>
                        <input type="text" id="url_link"/>
                        <div><button id="share_btn">Copy Link</button></div>
                            
                   </div> 
                <div>
                    <h3 class="article-title">{!articleDetail.Title}&nbsp;&nbsp;</h3>
                    <!--
                    <apex:image value="{!$Resource.YesFeedback}"/>&nbsp;{!yesFeedbackCount}&nbsp;
                    <apex:image value="{!$Resource.NoFeedback}"/>&nbsp;{!noFeedbackCount}
                    -->
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="article-content">
                           
                            <p>

                                <apex:outputPanel rendered="{!articleDetail.sObjectName == 'Decision Tree'}">
                                    <!--<flow:interview name="{!articleDetail.overviewSummary}"></flow:interview>-->
                                    <apex:include pageName="{!articleDetail.dynamicFlowPage}" rendered="{!articleDetail.sObjectName == 'Decision Tree'}"/>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!articleDetail.sObjectName != 'Decision Tree'}">
                                    <apex:outputLabel value="{!articleDetail.overviewSummary}" escape="false"/>
                                </apex:outputPanel>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- Img here -->
                    </div>
                </div>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!helpfulArticleList != null && helpfulArticleList.size>0}">
                <h3 class="most_helpful">{!$Label.Article_Det_MostHelpful}</h3>
                <div class="row">
                    <apex:repeat value="{!helpfulArticleList}" var="helpfulArticle">
                        <div class="col-md-4">
                            <h4 class="helpful-title"><a href="{!URLFOR($Page.SCEA_Article)}?kavId={!helpfulArticle.Id}&lang={!selectedLanguage}">{!helpfulArticle.Title} </a></h4>
                            <p class="helpful-summary">{!helpfulArticle.helpfulArticleOverviewSummary}</p>
                        </div>
                    </apex:repeat>
                </div>
            </apex:outputPanel>
            <apex:form id="articleForm">
           <!--  <hr class="blue-line"/> -->
            <h3 class="most_helpful">{!$Label.Article_Det_IsThis} </h3>
            <!--<apex:pageMessages/>-->
            <span>{!$Label.Article_Det_IfNot}</span>
            <div class="feedback-container">
                <div id="feedback_yes" class="yes_no icon-check-blk"> <span class="yes_no_label"> {!$Label.Article_Det_Yes} </span></div>
                <div id="feedback_no" class="yes_no icon-x-icon-blk"> <span class="yes_no_label">{!$Label.Article_Det_No}</span></div>
                <div id="feedback_more" class="more_help">{!$Label.Article_Det_Fdback_GiveME}</div>
            </div>
            <div id="get_more_help" class="row closed">
                <h3 class="most_helpful">{!$Label.Article_Det_GetMore}</h3>
                <span>{!$Label.Article_Det_GIveUs}</span>
                
                <div class="row get_more_dropdown">
                    <div class="col-md-4">
                        <label for="">{!$Label.label_console_product}</label>
                        <div class="styled-select">

                            <apex:selectList value="{!selectedProduct}" multiselect="false" size="1">
                                <apex:selectOption itemLabel="PlayStation 4" itemValue="PlayStation_4__c"></apex:selectOption>
                                <apex:selectOption itemLabel="PlayStation 3" itemValue="PlayStation_3__c"></apex:selectOption>
                                <apex:selectOption itemLabel="PS VITA" itemValue="PS_Vita__c"></apex:selectOption>
                                <apex:selectOption itemLabel="Playstation TV" itemValue="PlayStation_TV__c"></apex:selectOption>
                            </apex:selectList>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="">{!$Label.label_issue}</label>
                        <div class="styled-select">
                            <!--
                            <select>
                                <option>Connectivity Issues</option>
                                <option>Hardware Issue</option>
                            </select>
                            -->
                            <apex:selectList value="{!selectedIssue}" multiselect="false" size="1">
                                <apex:selectOptions value="{!ProductCategoryOptions}"></apex:selectOptions>
                            </apex:selectList>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!--<button class="search_again">Search Again</button>-->
                        <apex:commandButton value="{!$Label.label_search_again}" action="{!searchAgainForArticles}" styleclass="search_again"/>
                    </div>
                </div>
                <!-- <p class="still_not">Still not what you're looking for? Try Live Chat to speak with a support specialist</p> -->
            </div>

            <!--- Feedback Yes Container -->
            <div id="feedback_yes_container" class="row closed">
                <h3 class="feedback_title">{!$Label.Article_Det_Fdback_Glad}</h3>
                <span>{!$Label.Article_Det_Fdback_Could}</span>
                
                <div class="row feedback_checkboxes_row">
                    
                    <div class="col-md-9">
                        <div class="col-md-6">
                                <div class="chkbox-wrapper">
                                    <apex:inputCheckbox value="{!helpedMeFlag}"/> 
                                    <label>
                                        <div class="checkbox-align"><span></span></div> {!$Label.Article_Det_Fdback_Yes_o1}
                                    </label>
                                
                                </div> 
                                
                                <div class="chkbox-wrapper">
                                    <apex:inputCheckbox value="{!answeredMyQuestionFlag}"/> 
                                    <label>  
                                        <div class="checkbox-align"><span></span></div> {!$Label.Article_Det_Fdback_Yes_o2}
                                    </label>
                                </div> 
                        </div>
                        <div class="col-md-6">
                                <div class="chkbox-wrapper">
                                    <apex:inputCheckbox value="{!answeredMyQuestionButFlag}"/> 
                                    <label>
                                       <div class="checkbox-align"><span></span></div> {!$Label.Article_Det_Fdback_Yes_o3}
                                    </label>
                                </div> 
                                
                                <div class="chkbox-wrapper">
                                    <apex:inputCheckbox value="{!didntHaveInfoFlag}"/> 
                                    <label>
                                      <div class="checkbox-align"><span></span> </div> {!$Label.Article_Det_Fdback_Yes_o4}
                                    </label>
                                </div> 
                        </div>
                        <!--
                        <textarea class="feedback_input" rows="4" cols="50" placeholder="Add feedback here">
                        </textarea>
                        -->
                        <apex:inputTextarea cols="50" rows="4" styleClass="feedback_input" title="Add Feedback here" value="{!feedbackComments}"/>
                    </div>
                    <div class="col-md-3">
                        <p>{!$Label.Article_Det_Fdback_WeMay}</p>
                        <div>{!$Label.Article_Det_Fdback_GiveME}</div>
                        <!--<input class="feedback_btn" type="submit" />-->
                        <apex:commandButton styleClass="feedback_btn" action="{!processYesFeedback}" value="{!$Label.label_submit}" status="yesFBProcessId"/><!-- reRender="articleForm" -->
                        <apex:actionStatus id="yesFBProcessId">
                            <apex:facet name="start">
                                <img src="/img/loading.gif"/>
                            </apex:facet>
                        </apex:actionStatus>
                    </div>

                 </div>
            </div>

            <!--- Feedback Container --> 
            <div id="feedback_no_container" class="row closed">
                <h3 class="feedback_title">{!$Label.Article_Det_Fdback_Sorry}</h3>
                <span>{!$Label.Article_Det_Fdback_Could}</span>
                <div class="row feedback_checkboxes_row">
                       <div class="col-md-9">
                            <div class="col-md-6">
                                    <div class="chkbox-wrapper">
                                         <apex:inputCheckbox value="{!helpedMeNFlag}"/> <label> <div class="checkbox-align"><span></span></div> {!$Label.Article_Det_Fdback_No_o1}</label>
                                    </div>
                                   
                                      
                                    <div class="chkbox-wrapper">
                                        <apex:inputCheckbox value="{!answeredMyQuestionNFlag}"/> <label> <div class="checkbox-align"> <span></span> </div>{!$Label.Article_Det_Fdback_No_o2}</label>
                                    </div>
                                    
                            </div>
                            <div class="col-md-6">
                                    <div class="chkbox-wrapper">
                                        <apex:inputCheckbox value="{!answeredMyQuestionButNFlag}"/> <label> <div class="checkbox-align"> <span></span> </div>{!$Label.Article_Det_Fdback_No_o3}</label>
                                    </div>

                                    <div class="chkbox-wrapper">
                                         <apex:inputCheckbox value="{!didntHaveInfoNFlag}"/> <label> <div class="checkbox-align"> <span></span> </div> {!$Label.Article_Det_Fdback_No_o4}</label>
                                    </div>
                                   
                            </div>
                            <!--
                            <textarea class="feedback_input" rows="4" cols="50" placeholder="Add feedback here">
                            </textarea>
                            -->
                            <apex:inputTextarea cols="50" rows="4" styleClass="feedback_input" title="Add Feedback here" value="{!noFeedbackComments}"/>
                        </div>
                        <div class="col-md-3">
                            <p>{!$Label.Article_Det_Fdback_WeMay} </p>
                            <div>{!$Label.Article_Det_Fdback_GiveME}</div>
                            <!--<input class="feedback_btn" type="submit" />-->
                            <apex:commandButton styleClass="feedback_btn" action="{!processNoFeedback}" value="{!$Label.label_submit}" status="noFBProcessId"/><!-- reRender="articleForm" -->
                            <apex:actionStatus id="noFBProcessId">
                                <apex:facet name="start">
                                    <img src="/img/loading.gif"/>
                                </apex:facet>
                            </apex:actionStatus>
                        </div>

                </div>
             
            </div>
            </apex:form>


        </div> <!-- End of Article Container -->
     </div>

     <!-- EXTRA HELP FOOTER -->
    <c:SCEA_extra_help />

    <!-- SCEA Footer-->
    <c:SCEA_Footer />               
    <!-- end SCEA footer -->


    </apex:define>

     <script>


        $(document).ready(function(){
           $('.article-print').click(function(){
                window.print();
           });
           $('.article-link').click(function(){
                var urlLink = window.location.href;
                console.log(urlLink);
           })
           var support_channels_default = "{!articleDetail.associatedChannels}";
           var support_channel = "{!articleDetail.associatedChannels}".replace(/;/g,"");
           console.log("The support channel", support_channel);
           console.log("default format", support_channels_default);
            if(support_channel.indexOf("Chat") > -1){
            //$('#phone_col').hide();
            $('#live_chat_col').removeClass('closed-mobile');
           }
           
           if(support_channel.indexOf("Phone") > -1){
            //$('#live_chat_col').hide();
            $('#phone_col').removeClass('closed-mobile');
           }

            $('.article_container').on('click','#feedback_yes',function(){
                $(this).toggleClass("yes_active");
                $(this).toggleClass("icon-check-white");
                $('#get_more_help').hide();
                $('#feedback_no_container').hide();
                $('#feedback_yes_container').toggle();

                if($('#feedback_no').hasClass('no_active')){
                    $('#feedback_no').removeClass('no_active');
                }
                if($('#feedback_more').hasClass('more_help_active')){
                    $('#feedback_more').removeClass('more_help_active');
                }

                if($('#feedback_no').hasClass('icon-x-icon-white')){
                    $('#feedback_no').removeClass('icon-x-icon-white');
                }

            })


            $('.article_container').on('click','#feedback_no',function(){
                $(this).toggleClass("no_active");
                $(this).toggleClass("icon-x-icon-white");
                $('#get_more_help').hide();
                $('#feedback_yes_container').hide();
                $('#feedback_no_container').toggle();


                if($('#feedback_yes').hasClass('yes_active')){
                    $('#feedback_yes').removeClass('yes_active');
                }

                 if($('#feedback_yes').hasClass('icon-check-white')){
                    $('#feedback_yes').removeClass('icon-check-white');
                }

                if($('#feedback_more').hasClass('more_help_active')){
                    $('#feedback_more').removeClass('more_help_active');
                }

            })

            $('.article_container').on('click','.more_help',function(){
                 $(this).toggleClass("more_help_active");
                 $('#feedback_no_container').hide();
                 $('#feedback_yes_container').hide();
                 $('#get_more_help').toggle();


                 //Remove Active states 
                 if($('#feedback_no').hasClass('no_active')){
                    $('#feedback_no').removeClass('no_active');
                }

                if($('#feedback_yes').hasClass('yes_active')){
                    $('#feedback_yes').removeClass('yes_active');
                }

                 if($('#feedback_yes').hasClass('icon-check-white')){
                    $('#feedback_yes').removeClass('icon-check-white');
                }

                 if($('#feedback_no').hasClass('icon-x-icon-white')){
                    $('#feedback_no').removeClass('icon-x-icon-white');
                }
            })


            function copyToClipboard(elementId) {


                var alink = document.createElement("input");

                alink.setAttribute("type", "text");
                alink.setAttribute("id", "temp");
                alink.setAttribute("style", "position:absolute;opacity:0;");

                alink.setAttribute("value", document.getElementById(elementId).innerHTML);


                document.body.appendChild(alink);

                alink.select();


                document.execCommand("copy");

                document.body.removeChild(alink);

            }

           $('.article-link').click(function(){
                //$('#copy-link-container').toggle();
                 var urlLink = window.location.href;
                $('#linktext').html(urlLink);
                copyToClipboard('linktext');
                // $('#url_link').val(urlLink);
           })

            // $('#share_btn').click(function() {

            //     copyToClipboard('linktext');
            // });

            $('.back_btn_article').click(function(){
                 window.history.back();
            })

            //If Liveagent is not available hide box
            if(! $('#liveagent_button_online_573i00000002ftp').is(':visible') ){
                // $('#live_chat_col').hide();
            }
            



           
        })
    </script>


    
</apex:page>