<apex:page showHeader="false" sidebar="false" docType="html-5.0" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false">

<html class="no-js" lang="en">
    <head prefix="og: http://ogp.me/ns#">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
        
        <script type="text/javascript">
                                
            var GLOBAL_SITE_URL = '{!$Site.CurrentSiteUrl}';
            
        </script>


        <!--- Style sheets here --> 
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />


        <!---- Vendor Libraries --> 
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>


        <apex:insert name="scripts">
            <!-- SCRIPTS INSERT -->
        </apex:insert>
        
    </head>
    <body>
        <a href="#top" style="display:none;"></a>
        <div id="container" class="container_30 clearfix">
           
        
            <!-- SCEA header -->
            <nav class="navbar navbar-default navbar-fixed-top">

                <!-- SCEA Top level navbar -->
            <div id="sony-header-bar">
                <div class="sony-header-logo">
                    <a href="http://www.sony.com/" class="conditionalLink"> <img src="https://www.playstation.com/etc/designs/pdc/clientlibs_base/images/headersonylogo-home.jpg" alt="Sony" title="Sony"/>
                    </a>
                </div>
            </div>

              <!--<div class="container">-->
                <div class="nav">
                    <ul class="scea-header">
                        <li class="ps_logo">
                            <a href="http://us.playstation.com"><img class="heading-image" src="https://psmedia.playstation.com/is/image/psmedia/navigation_home_ps-logo-us?$Icon$" alt="Sony Logo" /></a>
                        </li>
                        <li class="nav-support"><a id="support_home" href="{!URLFOR($Page.SCEA_Landing)}" style="color:#79cff4;">{!$Label.Footer_Support}</a></li>
                        <div class="nav-right">
                            <li class="psn_status"><a href="https://status.playstation.com/en-us/"> <div id="psn-cover"></div>
                            <div id="psn-container">
                              <iframe scrolling="no" id="psn_status_page" src="https://status.playstation.com/en-us/" width="500px;" />
                             </div></a>
                          </li>
                            <li class="dropdown">
                                <a id="current_lang" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">English <span class="caret"></span> </a>
                                <ul class="dropdown-menu">
                                    <li id="eng_lang"><a href="#">English</a></li>
                                    <li><a id="es_lang" href="#">Español</a></li>
                                    <li id="pt_lang"><a href="#">Português</a></li>
                                </ul>
                            </li>
                        </div>
                    </ul>
                </div>
              <!--</div>-->
            </nav>
            <apex:outputPanel rendered="{!NOT(LOWER($Label.Announcement_Text) == 'null')}" styleClass="notification_container"> 
             <div class="alert alert-danger alert-dismissible" role="alert">
                  <button id="alert-close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>{!$Label.Annoucement_notice}:</strong> <span>{!$Label.Announcement_Text}</span> 

                  <a class="announcment_text" href="{!$Label.Announcement_URL}">{!$Label.Announcement_URL_Text}</a>
              </div>

           </apex:outputPanel>
            
            <!-- end SCEA header -->
            <div class="bootstrapped">
                <apex:insert name="body">
                    <!-- BODY INSERT -->



                </apex:insert>

           
            </div>

            
            
        </div>

    
        <script>
            $(document).ready(function(){
                $('#psn-cover').click(function(){
                    window.open(url,'https://status.playstation.com/en-us/');
                })

                //Set Browser session for notifications bar 
                if(window.sessionStorage.getItem('alert') != 'hide'){
                  $('.notification_container').show();
                }
                $('#alert-close').click(function(){
                  window.sessionStorage.setItem('alert','hide');
                })

                //Get user agent 
                var ua = navigator.userAgent.toLowerCase();
                var isAndroid = ua.indexOf("android") > -1; 
                if(isAndroid) {
                  $('li.psn_status').css('top','0px');
                }

              function changeLanguage(paramName, paramValue, fullUrl){
                  var pattern = new RegExp('('+paramName+'=).*?(&|$)')

                  var url = fullUrl;
                  // var newUrl= window.location.href; 
                  var newUrl= fullUrl; 
                  if(url.search(pattern)>=0){
                      newUrl = url.replace(pattern,'$1' + paramValue + '$2');
                  }
                  else{
                      newUrl = newUrl + (newUrl.indexOf('?')>0 ? '&' : '?') + paramName + '=' + paramValue 
                  }
                  window.location.href= newUrl;
              }


                var getUrlParameter = function getUrlParameter(sParam) {
                    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                        sURLVariables = sPageURL.split('&'),
                        sParameterName,
                        i;

                    for (i = 0; i < sURLVariables.length; i++) {
                        sParameterName = sURLVariables[i].split('=');

                        if (sParameterName[0] === sParam) {
                            return sParameterName[1] === undefined ? true : sParameterName[1];
                        }
                    }
                };

                var getLanguage =function getLanguage(){
                  var pathName = window.location.pathname;
                  if(pathName.indexOf('latam') > -1){
                    return 'es';
                  }

                  if(pathName.indexOf('brazil') > -1){
                    return 'pt_BR';
                  }

                  if(pathName.indexOf('amer') > -1){
                    return 'eng';
                  }
                }

                var getLangParam = getLanguage();
                if(getLangParam){
                    switch(getLangParam){
                      case "es":
                        $('#current_lang').html("Español <span class='caret'></span>");
                        $('#support_home').attr('href','/'+ window.location.pathname.split("/")[1])
                        break;
                      case "pt_BR":
                        $('#current_lang').html("Português <span class='caret'></span>");
                        $('#support_home').attr('href','/'+ window.location.pathname.split("/")[1])
                        break;
                    }

                }

                var urlPath = window.location.href;
                var urlPathLang;  

                //Language change on spanish 
                $('#es_lang').click(function(){
                  if(getLangParam){
                      switch(getLangParam){
                        case "es":
                          urlPathLang = urlPath;
                          break;
                        case "pt_BR":
                          urlPathLang = '/'+ window.location.pathname.split("/")[1].replace('brazil','latam');
                          break;
                        case "eng":
                          urlPathLang = '/'+ window.location.pathname.split("/")[1].replace('amer','latam');
                          break;
                      }

                      changeLanguage('lang','es',urlPathLang);

                  }
                  

                })

                $('#eng_lang').click(function(){
                    if(getLangParam){
                      switch(getLangParam){
                        case "es":
                           urlPathLang= '/'+ window.location.pathname.split("/")[1].replace('latam','amer');
                          break;
                        case "pt_BR":
                           urlPathLang = '/'+ window.location.pathname.split("/")[1].replace('brazil','amer');
                          break;
                        case "eng":
                           urlPathLang= urlPath;
                          break;
                      }

                      changeLanguage('lang','',urlPathLang);

                  }
 
                })
                $('#pt_lang').click(function(){
                     if(getLangParam){
                        switch(getLangParam){
                          case "es":
                            urlPathLang='/'+ window.location.pathname.split("/")[1].replace('latam','brazil');
                            break;
                          case "pt_BR":
                            urlPathLang = urlPath;
                            break;
                          case "eng":
                            urlPathLang= '/'+ window.location.pathname.split("/")[1].replace('amer','brazil');
                            break;
                        }

                        changeLanguage('lang','pt_BR',urlPathLang);

                    }
                })
                
            })

            $(window).load(function(){
              $('#psn-container').show();
            })
        </script>
        <apex:insert name="endScripts">
            <script type="text/javascript" src="{!$Resource.OmnitureInit}"></script>
        </apex:insert>
    </body>
</html>
</apex:page>