<apex:page showHeader="false" sidebar="false" docType="html-5.0" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false" controller="SCEA_SearchLandingPageController">
	 <apex:composition template="SCEA_Template">

	 </apex:composition>
	<c:SCEA_Styles />
	
	<style>
	    #main-search-container {
           padding-top: 0px; 
        }
	    
	    #main-buckets-container{
	        bottom:inherit;
	    }
	    
	</style>
	<apex:form id="frmId">
	<apex:define name="body">

	 <div class="container-fluid">
	 	<div class="error_page">
	 	    <h2>We must not have gotten that quite right</h2>
    	 	<p>It's not you, it's us. There seems to have been some sort of error disallowing us from satisfying your request. But don't give up now, use the options below to see if we can help you with your issue.
    		<br/>
    		Try Searching for your answer</p>
    		
    		
    		                <div class="main-section-container">
                        
                        <div class="row">
                            <div id="main-search-container">
                                
                                <h3 class="greatness">{!$Label.landing_greatness}</h3>
                            
                                <div class="search-wrapper">
                                    <apex:inputText id="autocomplete_textbox" styleClass="main-search" value="{!searchedString}" html-placeholder="What can we help you with?" /> 
                                    <apex:commandButton id="searchArticle" styleClass="searchButton search-icon-white" value="" action="{!searchForArticles}"/>  
                                </div> 
                                <!-- reRender="searchResultsOP"/>-->
                                <apex:inputHidden value="{!searchedRecordId}" id="searchId"/>
                            </div>  
                        </div>
                       

                      <!--    <div id="main-buckets-container" class="row">
                            <div class="col-md-4 col-xs-4">
                                <div id="system" class="main-buckets">
                                    <apex:image url="{!URLFOR($Resource.System_Categories,'PS4.png')}"/>
                                    <div class="category_title">{!$Label.Bucket_MySystem}</div> 
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <div id="account_help" class="main-buckets">
                                    <div class="PS-logo-incircle-white"></div>
                                    <div class="category_title">MY ACCOUNT </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <div id="browse_topic" class="main-buckets">
                                    <div class="PS_play-icons-white"></div>
                                    <div class="category_title"> ALL TOPICS </div>
                                </div>
                            </div>
                        </div> -->
                </div>
              

               
                
                <div class="row">
                    <div class="system-buckets closed">
                        <h3 class="sub-bucket-title">Select your System</h3> <span class="back_btn closed"> back </span>
                        <div class="system-categories row">
                            <div class="col-md-3"> <div class="system-select" onclick="productSelected('PlayStation_4__c');"> <apex:image url="{!URLFOR($Resource.System_Categories,'PS4.png')}" /> <div class="system_label" id="ps4">PS4 </div>  </div></div>
                            <div class="col-md-3"> <div class="system-select" onclick="productSelected('PlayStation_3__c');"> <apex:image url="{!URLFOR($Resource.System_Categories,'PS3.png')}" /> <div class="system_label" id="ps3">PS3</div> </div> </div>
                            <div class="col-md-3"> <div class="system-select" onclick="productSelected('PS_Vita__c');">  <apex:image url="{!URLFOR($Resource.System_Categories,'PSVITA.png')}" /> <div class="system_label" id="psvita">PS VITA / PLAYSTATION TV</div>  </div> </div>
                            <div class="col-md-3"> <div class="system-select" onclick="productSelected('PlayStation_TV__c');">  <apex:image url="{!URLFOR($Resource.System_Categories,'PStv_other.png')}" /> <div class="system_label" id="other">OTHER </div> </div> </div>
                        </div>
                        <div id="system-sub-container">
                                <apex:outputPanel id="errorCodeWidgetOP">
                                      <div id="error-code-system" class="error-code-container closed">
    
                                        <h3>Enter The Error Code That is displaying</h3>
                                        <apex:inputText styleClass="error_search" value="{!errorCodeString}"/>
                                        <!--<input class="errorBtn_search" type="submit" />-->
                                        <apex:commandButton styleClass="errorBtn_search" value="Submit" action="{!searchForErrorCode}" reRender="productCategoriesOP"/>
                                        <apex:outputPanel rendered="{!errorCodeCS != null}">
                                            <h5>{!errorCodeCS.Error_Code__c}&nbsp;&nbsp;&nbsp;&nbsp;Error Code</h5>
                                            <p><apex:outputText value="{!errorCodeCS.Description__c}" escape="false"/></p>
                                            <p><apex:outputText value="{!errorCodeCS.Action__c}" escape="false"/></p>
                                        </apex:outputPanel>
                                      </div>
                                   </apex:outputPanel>


                                    
                               <apex:outputPanel id="productCategoriesOP">
                                    <ul class="system-subcategories">
                                         <apex:repeat value="{!categoryList}" var="prodCategory" rendered="{!isProdutSelectedFlag == true && categoryList != null && categoryList.size>0 && showArticlesFlag == false}">
                                            
                                                <li>
                                                    <apex:commandLink styleClass="system-sub-link" value="{!prodCategory.Name}" action="{!fetchArticlesBasedOnSubCategory}" reRender="productCategoriesOP">
                                                        <apex:param value="{!prodCategory.Category_API_Name__c}" name="prodSubCategory" assignTo="{!selectedProductCategory}"/>
                                                    </apex:commandLink>    
                                                </li>
                                         
                                        </apex:repeat>
                                    </ul>

                                     <ul class="system-articles">
                                      
                            
                                        <apex:repeat value="{!guidedBrowseResultsList}" var="article" rendered="{!isProdutSelectedFlag == true && showArticlesFlag == true && categoryList != null && categoryList.size>0}">
                                            <li>
                                              <h4 class="system-article-title"><apex:outputLink value="{!URLFOR($Page.SCEA_Article)}?kavId={!article.Id}">{!article.Title} </apex:outputLink></h4>
                                              <p>{!article.overviewSummary} </p>
                                            </li>
                                        </apex:repeat>
                                     
                                    </ul>
                                   
                                  
                                    <center>
                                        <apex:commandButton styleClass="browse_additional_btn" value="Browse Additional Articles" action="{!showMoreArticles}" rendered="{!showMoreButton}"/>
                                    </center><br/>
                                </apex:outputPanel>

                        </div>
                     

                    </div>
                    <div class="account-buckets closed">
                        <h3 class="sub-bucket-title">Help with account</h3>
                        <div class="account-categories">
                            <apex:outputPanel id="accountCategoriesOP">
                                <ul class="system-subcategories">
                                    <apex:repeat value="{!categoryList}" var="accCategory" rendered="{!isAccountSelectedFlag == true && categoryList != null && categoryList.size>0 && showArticlesFlag == false}">
                                        <li>
                                        <apex:commandLink value="{!accCategory.Name}" action="{!fetchArticlesBasedOnSubCategory}" reRender="accountCategoriesOP">
                                            <apex:param value="{!accCategory.Category_API_Name__c}" name="accSubCategory" assignTo="{!selectedAccountCategory}"/>
                                        </apex:commandLink>    
                                        </li>
                                    </apex:repeat>
                                </ul>
                                <apex:repeat value="{!guidedBrowseResultsList}" var="article" rendered="{!isAccountSelectedFlag == true && showArticlesFlag == true && categoryList != null && categoryList.size>0}">
                                    <div class="text a">
                                        <p class="a" ><span class="a" >
                                            <apex:outputLink value="{!URLFOR($Page.SCEA_Article)}?kavId={!article.Id}">{!article.Title}</apex:outputLink>&nbsp;&nbsp;{!article.sObjectName}<br/><apex:outputLabel value=" {!article.overviewSummary}"/>
                                        </span></p>
                                    </div>
                                </apex:repeat>
                                <br/>
                                <center>
                                    <apex:commandButton styleClass="browse_additional_btn" value="Browse Additional Articles" action="{!showMoreArticles}" rendered="{!showMoreButton}"/>
                                </center><br/>
                            </apex:outputPanel>
                        </div>

                    </div>
                    <div class="topic-buckets closed">
                        <h3 class="sub-bucket-title">Browse Topics</h3>
                        <div class="topic-categories">
                            <apex:outputPanel id="allTopicsOP">
                                <ul class="system-subcategories">
                                    <apex:repeat value="{!categoryList}" var="allTopicCategory" rendered="{!isAllTopicsSelectedFlag == true && categoryList != null && categoryList.size>0 && showArticlesFlag == false}">
                                        <li>
                                        <apex:commandLink styleClass="topic-link" value="{!allTopicCategory.Name}" action="{!fetchArticlesBasedOnSubCategory}" reRender="allTopicsOP">
                                            <apex:param value="{!allTopicCategory.Category_API_Name__c}" name="allTopicSubCategory" assignTo="{!selectedAllTopicCategory}"/>
                                        </apex:commandLink>    
                                        </li>
                                    </apex:repeat>
                                </ul>
                                
                                <ul class="topic-subcategories">
                                    <apex:repeat value="{!guidedBrowseResultsList}" var="article" rendered="{!isAllTopicsSelectedFlag == true && showArticlesFlag == true && categoryList != null && categoryList.size>0}">
                                        <li>
                                            <h4 class="system-article-title"> <apex:outputLink value="{!URLFOR($Page.SCEA_Article)}?kavId={!article.Id}">{!article.Title}</apex:outputLink> </h4> 
                                            <p> {!article.overviewSummary}  </p>
                                        </li>   
                                      
                                    </apex:repeat>
                                </ul>
                                <br/>
                                <center>
                                    <apex:commandButton styleClass="browse_additional_btn" value="Browse Additional Articles" action="{!showMoreArticles}" rendered="{!showMoreButton}"/>
                                </center><br/>


                                     <apex:outputPanel id="errorCodeWidgetAllTopics">
                                      <div id="errorcode-topics" class="error-code-container closed">
    
                                        <h3>Enter The Error Code That is displaying</h3>
                                        <apex:inputText styleClass="error_search" value="{!errorCodeAllTopicString}"/>
                                        <!--<input class="errorBtn_search" type="submit" />-->
                                        <apex:commandButton styleClass="errorBtn_search" value="Submit" action="{!searchForErrorCode}" reRender="errorCodeWidgetAllTopics"/>
                                        <apex:outputPanel rendered="{!errorCodeCS != null}">
                                            <h5>{!errorCodeCS.Error_Code__c}&nbsp;&nbsp;&nbsp;&nbsp;Error Code</h5>
                                            <p><apex:outputText value="{!errorCodeCS.Description__c}" escape="false"/></p>
                                            <p><apex:outputText value="{!errorCodeCS.Action__c}" escape="false"/></p>
                                        </apex:outputPanel>
                                      </div>
                                   </apex:outputPanel>
                            </apex:outputPanel>


                        </div>
  
                    </div>
                </div>

	 	    
	 	</div>

	 </div>

	    <!-- CHANNELS FOOTER -->
      <div class="extra-help-container">
         <div class="extra-help">
            <h3>NEED SOME EXTRA HELP?</h3>
            
              <div class="row row-centered">
                  <div class="col-md-15 col-sm-3 help-bg col-centered ">
                     <a href="http://community.us.playstation.com/community/support"><div class="forum-icon">  </div> 
                    FORUM </a>
                  </div>
                  <div class="col-md-15 col-sm-3 help-bg col-centered ">
                     <a href="https://www.youtube.com/playlist?list=PLC10C9361F47440CD"><div class="youtube-icon">  </div> 
                    YOUTUBE </a>
                  </div>
                  <div class="col-md-15 col-sm-3 help-bg col-centered ">
                     <a href="https://twitter.com/askplaystation"> <div class="twitter-icon"> </div> 
                    TWITTER </a>
                  </div>
              </div>
        </div>
      </div>


    <!--- END OF CHANNELS FOOTER --> 

  	<!-- SCEA Footer-->
	<c:SCEA_Footer />
	
	 <!-- Landing page controller --> 
    <c:SCEA_Landing_Controller />
    
    
	<!-- end SCEA footer -->
	</apex:define>
    
     <apex:actionFunction name="productSelected" action="{!fetchCategoriesForProduct}" reRender="productCategoriesOP,accountCategoriesOP,allTopicsOP">
        <apex:param name="selectedProduct" value="" assignTo="{!selectedProduct}"/>
    </apex:actionFunction>
    
    <apex:actionFunction name="accountSelected" action="{!fetchCategoriesForAccount}" reRender="productCategoriesOP,accountCategoriesOP,allTopicsOP">
    </apex:actionFunction>
    
    <apex:actionFunction name="allTopicSelected" action="{!fetchCategoriesForAllTopics}" reRender="productCategoriesOP,accountCategoriesOP,allTopicsOP">
    </apex:actionFunction>
    
    <apex:actionFunction name="mySystemSelected" action="{!initializeValuesFormySystem}" reRender="productCategoriesOP,accountCategoriesOP,allTopicsOP">
    </apex:actionFunction>

	</apex:form>
</apex:page>