<apex:page controller="WebRMAController" docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false" >
    <apex:composition template="ServiceTemplate">
        <apex:define name="body">
            <div class="txt3" id="cols">
                <apex:outputText styleClass="bol1" value="{!$Label.Terms_Title}"/><br/><br/>
                <!--<apex:outputText styleClass="bol3" value="{!$Label.Terms_Sub_Title}"/><br/><br/>-->
                <apex:outputText value="{!$Label.Terms_Content_1}"/><br/><br/>
                <apex:outputText value="{!$Label.Terms_Content_2}"/><br/><br/>
                <apex:outputText value="{!$Label.Terms_Content_3}"/><br/><br/>
                <!--<apex:outputText styleClass="bol3" value="{!$Label.Terms_Content_4}"/><br/><br/>-->
                <apex:outputText value="{!$Label.Terms_Content_4}"/>
                <apex:outputText value="{!$Label.Terms_Content_5}"/><br/><br/>
                <apex:outputText value="{!$Label.Terms_Content_6}"/><br/><br/>
                <apex:outputText value="{!$Label.Terms_Content_7}"/>
            </div>
            <div id="cols"></div>
        </apex:define>
    </apex:composition>
</apex:page>