<apex:page controller="WebRMAController" docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false" action="{!generateSignature}" >
    <apex:composition template="ServiceTemplate">
        <apex:define name="body">

            <!-- STEPS -->
            <c:ServiceProgressIndicator activeLength="width:305px;"
                                        step1Class="step blu1" step2Class="step blu1" step3Class="step blu1" step4Class="step blu1" step5Class="step blu1"
                                        step1Style="display:block;" step2Style="display:block;" step3Style="display:block;" step4Style="display:block;" step5Style="display:block;"/>

            <!-- OVERLAY / ALERTS --> 
            <div class="over red1" id="ovr2" style="display:{!if(showAlert,"block","none")};">
                <apex:outputText style="display:{!if(showAlert,"block","none")};" value="{!if(requiredCCNum,$Label.CC_Required_Error,
                                                                                            if(requiredCVS,$Label.CVS_Required_Error,
                                                                                            if(requiredExpiryDate,$Label.Expire_Date_Required_Error,
                                                                                            if(generalError,$Label.General_Error,''))))}"/><br/>
                <a class="undr" href="{!$Label.Support_Chat_URL}" style="display:{!if(generalError,"block","none")};" target="_blank">{!$Label.Link_Mask}</a>
            </div>

            <!-- COLUMNS -->
            <div id="cols">

                <!-- FORM -->
                <apex:form html-autocomplete="off">

                    <!-- LCOL -->
                    <div id="lcol" class="txt1">

                        <!-- FINISH -->
                        <div id="payment" style="display:block;">
                            <span class="bol1">{!$Label.Payment_Page_Heading}</span><br/><br/>
    
                            <!-- PAYMENT -->
                            <div id="cinf">
                                <div id="lbl2" class="txt2">
                                    <apex:outputText value="{!$Label.Card_Type_Field}"/><br/>
                                    <apex:outputText value="{!$Label.Card_Number_Field}"/><br/>
                                    <apex:outputText value="{!$Label.Security_Code_Field}"/><br/>
                                    <apex:outputText value="{!$Label.Expiration_Date_Field}"/>
                                </div>
                                <div id="flds" class="txt2">
                                    <!--<apex:inputHidden id="access_key" value="{!accessKey}" />
                                    <apex:inputHidden id="profile_id" value="{!profileID}"/>
                                    <apex:inputHidden id="transaction_uuid" value="{!transactionUUID}"/>
                                    <apex:inputHidden id="signed_field_names" value="{!signedFieldNames}"/>
                                    <apex:inputHidden id="unsigned_field_names" value="{!unsignedFieldNames}"/> 
                                    <apex:inputHidden id="signed_date_time" value="{!signedDateTime}"/>
                                    <apex:inputHidden id="locale" value="{!locale}"/>
                                    <apex:inputHidden id="transaction_type" value="{!transactionType}"/>
                                    <apex:inputHidden id="reference_number" value="{!selectedOrder.External_Order_Number__c}"/>
                                    <apex:inputHidden id="currency" value="{!crncy}"/>
                                    <apex:inputHidden id="amount" value="{!newCase.Total_Amount_to_Pay__c}"/>
                                    <apex:inputHidden id="payment_method" value="{!paymentMethod}"/>
                                    <apex:inputHidden id="bill_to_forename" value="{!selectedAccount.FirstName}"/>
                                    <apex:inputHidden id="bill_to_surname" value="{!selectedAccount.LastName}"/>
                                    <apex:inputHidden id="bill_to_email" value="{!selectedAccount.PersonEmail}"/>
                                    <apex:inputHidden id="bill_to_phone" value="{!selectedAccount.Phone}"/>
                                    <apex:inputHidden id="bill_to_address_line1" value="{!selectedBillAddress.Address_Line_1__c}"/>
                                    <apex:inputHidden id="bill_to_address_city" value="{!selectedBillAddress.City__c}"/>
                                    <apex:inputHidden id="bill_to_address_state" value="{!selectedBillAddress.State__c}"/>
                                    <apex:inputHidden id="bill_to_address_postal_code" value="{!selectedBillAddress.Postal_Code__c}"/>
                                    <apex:inputHidden id="bill_to_address_country" value="{!selectedBillAddress.X2_Letter_Country_Code__c}"/>-->
                                    <apex:selectList id="card_type" size="1" style="height:22px;width:229px;" styleClass="flds txt3" value="{!cardType}">
                                        <apex:selectOptions value="{!cardTypes}"/>
                                    </apex:selectList><br/>
                                    <apex:inputSecret id="card_number" maxlength="16" style="overflow:visible;" styleClass="flds txt3" value="{!ccNum}"/><br/>
                                    <apex:inputSecret id="card_cvn" maxlength="4" style="overflow:visible;" styleClass="flds txt3" value="{!ccCVN}"/><br/>
                                    <apex:inputSecret id="card_expiry_date" html-placeholder="MM-YYYY" maxlength="7" style="overflow:visible;" styleClass="flds txt3" value="{!ccExpDate}"/><br/><br/>
                                    <!--<apex:inputHidden id="signature" value="{!mac1}"/>-->
                                    <apex:commandButton action="{!postToCyberSource}" id="fnpy" styleClass="bttn" value="{!$Label.Finish_and_Pay_Button}"/>
                                    <!--<apex:commandButton action="{!test}" id="fnpy" styleClass="bttn" value="{!$Label.Finish_and_Pay_Button}"/>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </apex:form>

                <!-- DIVIDER -->
                <div id="dvdr"></div>

                <!-- RCOL -->
                <div id="rcol" class="txt1">
                    <div id="cinf" style="display:block;">
                        <div id="lbls" class="txt2" style="display:block;">
                            <br/>
                            <br/>
                            <apex:outputText value="{!$Label.Model_Field_Label}"/><br/>
                            <apex:outputText value="{!$Label.Serial_Field_Label}"/><br/>
                            <apex:outputText value="{!$Label.Issue_Field_Label}"/><br/>
                            <apex:outputText value="{!$Label.Detail_Field_Label}"/><br/>
                            <apex:outputText value="{!if(!ISBLANK(selectedCase.Disc_Title__c), $Label.Disc_Field_Label,'')}"/>
                        </div>
                        <div id="pinf" class="txt2" style="display:block;">
                            <br/>
                            <br/>
                            <apex:outputText value="{!if(LEN(selectedAsset.Product__r.Genre__c + ' ' + selectedAsset.Model_Number__c) > 17, LEFT(selectedAsset.Product__r.Genre__c + ' ' + selectedAsset.Model_Number__c,14) + '...', selectedAsset.Product__r.Genre__c + ' ' + selectedAsset.Model_Number__c)}"/><br/>
                            <apex:outputText value="{!if(LEN(selectedAsset.Serial_Number__c) > 17, LEFT(selectedAsset.Serial_Number__c, 14) + '...', selectedAsset.Serial_Number__c)}"/><br/>
                            <apex:outputText value="{!if(LEN(selectedCase.Sub_Area__c) > 17, LEFT(selectedCase.Sub_Area__c, 14) + '...', selectedCase.Sub_Area__c)}"/><br/>
                            <apex:outputText value="{!if(LEN(selectedCase.Issue1__c) > 17, LEFT(selectedCase.Issue1__c, 14) + '...', selectedCase.Issue1__c)}"/><br/>
                            <apex:outputText value="{!if(LEN(selectedCase.Disc_Title__c) > 17, LEFT(selectedCase.Disc_Title__c, 14) + '...', selectedCase.Disc_Title__c)}"/>
                        </div>
                        <!-- MODEL -->
                        <div class="{!systemClass}" id="modl" style="display:block;"></div>
                    </div>

                    <div>
                        <div id="sfee" style="display:block;">
                            <div id="lbl3" class="txt2">
                                {!$Label.Service_Fee_Field_Label}<br/>
                                {!$Label.Tax_Field_Label}<br/>
                                {!$Label.Total_Field_Label}
                            </div>
                            <div id="sfTT" class="txt2">
                                <apex:outputText value="{0,number,currency}">
                                    <apex:param value="{!newCase.Unit_Price__c}"/>
                                </apex:outputText><br/>
                                <apex:outputText value="{0,number,currency}">
                                    <apex:param value="{!newCase.Total_Tax__c}"/>
                                </apex:outputText><br/>
                                <apex:outputText styleClass="blu2" value="{0,number,currency}">
                                    <apex:param value="{!newCase.Total_Amount_to_Pay__c}"/>
                                </apex:outputText>
                                <apex:outputText styleClass="txt3" value=" {!$Label.Shipping_Included_Label}"/>
                            </div>
                        </div>
                    </div>
                    <div id="finM" class="txt3">
                        {!$Label.Finish_Instruction_1}<span class="grn1"> {!$Label.Finish_Instruction_2} </span>{!$Label.Finish_Instruction_3}<br/>
                        {!$Label.Finish_Instruction_4}
                    </div>

                </div>
            </div>

        </apex:define>
    </apex:composition>
</apex:page>