<apex:page extensions="ServiceReplacementPurchase" standardController="Case" showChat="false" sidebar="false" showHeader="false" standardStylesheets="false">
 <script src="/soap/ajax/29.0/connection.js" type="text/javascript"/>
 <script src="/soap/ajax/29.0/apex.js" type="text/javascript"/>
 <script src="https://code.jquery.com/jquery-1.9.1.min.js"/>
 <apex:includeScript value="/support/console/26.0/integration.js"/>
 <apex:includeScript value="{!$Resource.ServiceReplacementPurchase}"/> 
  
  
  <script type="text/javascript">
 
  var assetObj = {};
  var txt;
  var ProdObj = {};
  var prodId;
  
   function authorize()
        {  
           
           sforce.connection.sessionId = '{!$Api.Session_ID}';
           //console.log(sforce.connection.sessionId);
            
           } 
           
   
  function getAssetID() 
        {
         assetObj.status = '{!case.status}'
         assetObj.ID = '{!Case.Asset__c}';
         assetObj.RecordType = '{!case.RecordType.Name}';
         assetObj.Confirmation = '{!case.Confirmation__c}';
                       
        }  
        
    function refreshPage()
       {
       //alert('calling refresh');
       window.top.location='/console';
      // sforce.console.getEnclosingPrimaryTabId(callRefresh);
            
       }
     
           
     function fetchAddressRecord()
        {
         
         result = sforce.connection.query('select Id,product__r.Replacement_Model__c,Model_Number__c,product__c,Product_Name__c,Product_SKU__c FROM Asset__c WHERE ID=\'' + assetObj.ID + '\'');
         
         records = result.getArray('records');
          
         //console.log('----------->' + records);
                  
         if(records.length>0) {
          //console.log('************' + records[0]);
          rval = records[0].Product__r;
          assetObj.IsRecordAvailable = true;
          assetObj.IdValue = records[0].Product__c;
          assetObj.ReplacedProduct = rval.Replacement_Model__c;
          assetObj.productName = records[0].Product_Name__c;
          assetObj.ProductModel = records[0].Model_Number__c;
          assetObj.ProductSKU = records[0].Product_SKU__c;
          result1 = sforce.connection.query('select Id,Name,List_Price__c FROM Product__c WHERE Name=\'' + assetObj.ReplacedProduct+ '\'');
          records = result1.getArray('records');
          
          if(records.length>0){
           ProdObj.Name = records[0].Name;
           ProdObj.ListPrice = records[0].List_Price__c;
                 
          }
                  
         }
         else 
          assetObj.IsRecordAvailable = false;       
          
        }  
                
            
                    
        function getUserInput(){
        //console.log('calling getUserINput');             
        if(assetObj.Confirmation == 'true'){
            
           var r = confirm("{!$Label.Service_Replacement_Purchase}" + "\n" + "\n" + "{!$Label.Service_Replacement_Purchase1}" + " " + ProdObj.Name + "\n" +"{!$Label.Service_Replacement_Purchase2}" + " " + ProdObj.ListPrice +"0" ); 
            if (r == true) {
               txt = "You pressed OK!";
               saveAccountYes();
               refreshPage();
               
            } else {
               txt = "You pressed Cancel!";
               saveAccountNo();
                 refreshPage();
               
             }
            
                  
        }
        
        }
        
        
         $(document).ready(          
         function()
         {
          authorize();
          getAssetID();
          fetchAddressRecord();
          getUserInput();
          //refreshPage();
          
           });        
 </script>
 <body>
 <apex:form >
 <apex:outputPanel id="refreshMe"></apex:outputPanel>
   <apex:actionFunction name="saveAccountYes" action="{!saverec}" rerender="refreshMe">
    <apex:param name="txt" value="Yes" assignTo="{!value}"/>
   </apex:actionFunction>
    <apex:actionFunction name="saveAccountNo" action="{!saverec}" rerender="">
    <apex:param name="txt" value="No" assignTo="{!value}"/>
   </apex:actionFunction>
  </apex:form>
  </body>
</apex:page>