<apex:page controller="WebRMAController" docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false" >
    <style type="text/css">
        fieldset {margin:0px!important; padding:0px!important; float:left!important;}
        table {border-spacing: 5px;border-collapse: separate;}
    </style>
    
<script type="text/javascript">
    function enterkey(e){
        //disable enter key functionality
        if(e.keyCode == 13){
          return false;
        } else {
          return true;
        }
     }    
   window.onkeypress =  enterkey;
 </script>              
    
    <apex:composition template="ServiceTemplate">
        <apex:define name="body">

            <!-- STEPS -->
            <c:ServiceProgressIndicator activeLength="width:75px;"
                                        step1Class="step blu1" step2Class="step blu1" step3Class="next txt3" step4Class="next txt3" step5Class="next txt3"
                                        step1Style="display:block;" step2Style="display:block;" step3Style="display:none;" step4Style="display:none;" step5Style="display:none;"/>

            <!-- OVERLAY / ALERTS --> 
            <apex:outputPanel id="op">
            <div id="ovr2" class="over red1" style="display:{!if(showAlert,"block","none")};">
                <!--<apex:messages />-->
                <apex:outputText id="msg" style="display:{!if(showAlert,"block","none")};" value="{!if(selectIssueType,$Label.Alert_Select_Issue_Type,
                                                                                            if(selectIssueDetail,$Label.Alert_Select_Issue_Detail,
                                                                                            if(selectDiscState,$Label.Alert_Select_Disc_State,
                                                                                            if(blankPPPContract,$Label.Error_Blank_Contract_Number,
                                                                                            if(invalidPPPContract,$Label.Error_Invalid_Contract,
                                                                                            if(enterDiscName,$Label.Alert_Enter_Disc_Name,$Label.General_Error))))))}"/><br/>
                <a class="undr" href="{!$Label.Support_Chat_URL}" style="display:{!if(generalError,"block",
                                                                                  if(invalidPPPContract, "block", "none"))};" target="_blank">{!$Label.Link_Mask}</a>
            </div>
            </apex:outputPanel>

            <apex:form html-autocomplete="off" id="frm">
                <!-- COLUMNS -->
                <div id="cols">
                    
                    <!-- LCOL -->
                    <div id="lcol" styleClass="txt1">
                        
                        <!-- ISSUE -->
                            <div id="issu" style="display:block;">
                                <apex:outputText styleClass="bol1" value="{!$Label.Issue_Page_Heading}"/><br/>
                                <div id="pckL" class="txt2">
                                    <br/>
                                    <apex:outputText value="{!$Label.Issue_Type_Field_Label}"/><br/><br/>
                                    <apex:outputText value="{!$Label.Issue_Detail_Field_Label}"/><br/><br/>
                                    <!--<apex:outputText value="{!$Label.Attachment_Field_Label}"/>-->
                                </div>
                                <div id="pcks">
                                    <br/>
                                    <apex:selectList size="1" style="width:230px;" value="{!issuetype}">
                                        <apex:selectOptions value="{!issuetypes}"/>
                                        <apex:actionSupport event="onchange" action="{!resetPPPMsgonissueChng}" reRender="details,op,pppMsg"/>
                                    </apex:selectList>
                                    <br/><br/>
                                    <apex:selectList size="1" style="width:230px;" value="{!issuedetail}" id="details" >
                                        <apex:selectOptions value="{!issuedetails}"/>  
                                        <apex:actionSupport event="onchange" action="{!crackedScreenEligibility}" reRender="op,pppMsg" />
                                    </apex:selectList>                                    
                                    <br/><br/>
                                    <!--<apex:selectList size="1" multiselect="false" style="width:230px;">
                                        <apex:selectOption itemValue="upload" itemLabel="Upload Image"/>
                                        <apex:selectOption itemValue="noFile" itemLabel="No File - Send With System"/>
                                    </apex:selectList>
                                    <br/>
                                    <apex:inputFile filename="{!attachment.name}" id="file" size="1" value="{!attachment.body}" />-->  
                                 </div>    
                            </div>
                            
                            <apex:outputPanel id="pppMsg">
                            <div id="ovr1" class="over red1" style="display:{!if(issuedetail == "Cracked Screen" && showPPPMessages,"block","none")}">
                               <div id="boxC" style="display:{!if(showInWarrantyNoAD,"block","none")};">
                                 <apex:outputText styleClass="bol3 red1" value="{!$Label.PPP_OEM_NoAD_Message}" />
                               </div>
                               <div id="boxC" style="display:{!if(showInWarrantywithAD,"block","none")};">
                                 <apex:outputText styleClass="bol3" value="{!$Label.PPP_OEM_AD_Message}" />
                                 <div id="boxB" class="boxs">
                                 <apex:outputText styleClass="bol4" value="{!$Label.Enter_PPP_Contract_Number}"/><br/> 
                                 <apex:panelGrid columns="2">
                                    <apex:panelGroup >
                                        <apex:outputText styleClass="bol1" value="{!$Label.PPPContract_Field_Label}"/>&nbsp;
                                    </apex:panelGroup>
                                    <apex:panelGroup >
                                        <apex:input id="seri" style="width:160px;overflow:visible;" styleClass="txt2" type="text" value="{!pppContractNumber}" />
                                 </apex:panelGroup>
                                </apex:panelGrid>
                                </div>
                               </div>
                               <div id="boxC" style="display:{!if(showADPPPWarranty,"block","none")};">
                                  <apex:outputText styleClass="bol3 grn1" value="{!$Label.PPP_OOW_AD_Message}" />
                               </div>
                               <div id="boxC" style="display:{!if(showNonADPPPWarranty,"block","none")};">
                                  <apex:outputText styleClass="bol3 red1" value="{!$Label.PPP_OOW_NoAD_Message}" />
                               </div>
                           </div>
                           </apex:outputPanel>
                    </div>
                    
                    
                    <!-- DIVIDER -->
                    <div id="dvdr"></div>
        
                    <!-- RCOL -->
                    <div id="rcol" class="txt1">
                        <div id="cinf" style="display:block;">
                            <div class="{!systemClass}" id="modl" style="display:{!if(showLinks,"none","block")};"></div>
                            <div id="lbls" class="txt2" style="display:block;">
                                <br/>
                                <br/>
                                <apex:outputText value="{!$Label.Model_Field_Label}"/><br/>
                                <apex:outputText value="{!$Label.Serial_Field_Label}"/>
                            </div>
                            <div id="pinf" class="txt2" style="display:block;">
                                <br/>
                                <br/>
                                <apex:outputText value="{!if(LEN(selectedAsset.Product__r.Genre__c + ' ' + selectedAsset.Model_Number__c) > 17, LEFT(selectedAsset.Product__r.Genre__c + ' ' + selectedAsset.Model_Number__c,14) + '...', selectedAsset.Product__r.Genre__c + ' ' + selectedAsset.Model_Number__c)}"/><br/>
                                <apex:outputText value="{!selectedAsset.Serial_Number__c}"/>
                            </div>
                        </div>

                        <div id="boxB" class="boxs">
                            <!-- DISC -->
                            <apex:outputText styleClass="bol1" value="{!$Label.Disc_Stuck_Heading}"/>
                            <apex:panelGrid columns="2">
                                <apex:panelGroup >
                                    <apex:selectRadio dir="ltr" id="disc" styleClass="txt1" value="{!discstate}">
                                        <apex:selectOptions value="{!discstates}"/>
                                        <apex:actionSupport event="onchange" reRender="discInput"/>
                                    </apex:selectRadio>
                                </apex:panelGroup>
                                <apex:panelGroup id="discInput">
                                    <apex:inputField id="stck" html-placeholder="{!$Label.Disc_Title_Placeholder}" rendered="{!if(discstate == 'Yes',true, false)}" style="width:200px;overflow:visible;" styleClass="txt2" type="text" value="{!selectedCase.Disc_Title__c}"/>
                                </apex:panelGroup>
                            </apex:panelGrid>
                            
                        </div>
                        <apex:commandButton action="{!toSystemPage}" id="back" styleClass="bttn" value="{!$Label.Go_Back_Button}"/>
                        <apex:commandButton action="{!toInfoPage}" id="cont" styleClass="bttn" value="{!$Label.Continue_Button}" /> 
                                                
                    </div>
                </div>

            </apex:form>            
        </apex:define>
    </apex:composition>
</apex:page>