<apex:page controller="WebRMAController" docType="html-5.0" id="ServiceTemplate" language="{!language}" showHeader="false" sidebar="false" standardStylesheets="false" >
    <apex:stylesheet value="{!URLFOR($Resource.ServiceAssets, css)}"/>
    <link rel="icon" type="image/png" href="{!$Resource.PS_Favicon}"/>
    
    <apex:stylesheet value="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/global_ps.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/new_navigation_css.css?')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/oo_style.css?t=86432748')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/ps_global_css.css?')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/ps_modules_css.css?')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/ps_tempcss.css?')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/normalize_ps.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/style_ps.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/psnav_ps.css')}"/>
    <script type="text/javascript" charset="utf-8" src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/swfobject.js?')}"></script>
    <script type="text/javascript" charset="utf-8" src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/ps_jquery-1.3.2.min_js.js?')}"></script>
    <script src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/pscommon.js')}" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8" src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/ps_fx_js.js?')}"></script>
    <script type="text/javascript" charset="utf-8" src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/ps_uspsglobal_js.js')}"></script>
    <script src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/psplayer-min.js')}" type="text/javascript"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/plugins.js')}"></script>
    <script src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/ps_mbox_js.js?')}" type="text/javascript"></script>
    <script src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/modernizr_2_6_2_ps.js')}" type="text/javascript"></script>
    <script src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/hogan_ps.js')}" type="text/javascript"></script> 
    <script src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/jquery_1_7_2_ps.js')}" type="text/javascript"></script>
    <script src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/jquery_ba_resize_ps.js')}" type="text/javascript"></script>
    <script src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/scrollr_controllr_ps.js')}" type="text/javascript"></script>
    <script src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/global_ps_js.js')}" type="text/javascript"></script>
    <script src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/contextual_nav_ps.js')}" type="text/javascript"></script>
    <script src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/header_nav_ps.js')}" type="text/javascript"></script>
    <script src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/psnav_ps_js.js')}" type="text/javascript"></script>
    <script src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/typeahead_ps.js')}" type="text/javascript"></script>
    <script type="text/javascript">
      var jquery_1_7_2 = $.noConflict();
      jQuery = $;
    </script>

    <title>PlayStation <apex:outputText value="{!$Label.Service_Title}"/></title>
    
    <!-- WRAPPER -->
    <div id="wrapper">

        <!-- PSCOM NAVIGATION START -->
        <header id="header-box">
            <div class="sony-header-bar">
                <div class="sony-header-logo">
                    <a href="http://www.sony.com/SCA/About_Us/about-us.html" target="_blank" onclick="javascript:ClickOmniTrack(this,'event36','SONY-LOGO');"><img src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/headersonylogo-home.jpg')}" alt="Sony"/></a>
                </div>
            </div>   
            <div id="main-header"></div> 
        </header>
        <script type="text/javascript">           
            jquery_1_7_2('#main-header').createPsNav({
                'dataUrl':'{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/navigation_ps.json')}', 
                'assetPath':'{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/')}'
            });
        </script>
        <div class="hasSupport">
            <div id="header"></div>
            <link rel="stylesheet" href="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/ps_global_footer_css.css')}" type="text/css" charset="utf-8"/>
            <script src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/usps_s_code.js')}" type="text/javascript"></script> 
            <script src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/cm066_footer-nhasset.js')}" type="text/javascript"></script>
        </div>
        <!-- PSCOM NAVIGATION END -->

        <!-- SHAPES -->
        <div id="shpL" class="shps"></div>
        <div id="shpR" class="shps"></div>
        <!-- BACKGROUND -->
        <div id="bkgd">
            <!-- TITLES -->
            <div id="ttls">
                <div class="ttl0">PlayStation.com</div>
                <apex:outputText styleClass="ttl1" value="{!$Label.Service_Title}"/>
            </div>
            <!-- BROWSER SUPPORT BANNER -->
            <apex:outputText id="brow" value="{!$Label.Supported_Browsers}"/>
            <!-- LANGUAGE -->
            <apex:form >
                <div id="lang">
                    <div id="en">
                        <apex:commandLink action="{!switchLanguage}" styleClass="{!englishState}" value="English">
                            <apex:param name="language" value="en" assignTo="{!language}"/>
                            <apex:param name="englishState" value="laON bol3" assignTo="{!englishState}"/>
                            <apex:param name="frenchState" value="loff txt3" assignTo="{!frenchState}"/>
                            <apex:param name="css" value="rma.css" assignTo="{!css}"/>
                        </apex:commandLink>
                    </div>
                    <div class="lbar txt3">|</div>
                    <div id="fr">
                        <apex:commandLink action="{!switchLanguage}" styleClass="{!frenchState} txt3" value="Français">
                            <apex:param name="language" value="fr-ca" assignTo="{!language}"/>
                            <apex:param name="englishState" value="loff txt3" assignTo="{!englishState}"/>
                            <apex:param name="frenchState" value="laON bol3" assignTo="{!frenchState}"/>
                            <apex:param name="css" value="rma_FR.css" assignTo="{!css}"/>
                        </apex:commandLink>
                    </div>
                </div>
            </apex:form>
        </div>

        <apex:insert name="body"/>

    </div>
    
    <link rel="stylesheet" href="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/ps_global_footer_css.css')}" type="text/css" charset="utf-8"/>
    <script src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/usps_s_code.js')}" type="text/javascript"></script> 
    <script src="{!URLFOR($Resource.Navigation, 'navigation/pscomauth/groups/public/documents/webasset/cm066_footer-nhasset.js')}" type="text/javascript"></script> 

    <site:googleAnalyticsTracking />
</apex:page>