<apex:page showHeader="False" Sidebar="False" controller="SocialPersonaController" id="slcId">
<apex:includeScript value="/support/console/29.0/integration.js" />
<script type="text/javascript">
		var tweet = '';
		var accId = '';
		var tabId = '';
		var tempxTab = '';
		window.onload = function() {
            getContactInfo();                 
        };      
        function getContactInfo() {
            sforce.console.getEnclosingPrimaryTabId(closeSubtab);
        }        
        var closeSubtab = function closeSubtab(result) {         
            tabId = result.id;                        
            sforce.console.chat.getDetailsByPrimaryTabId(tabId, getDetailsSuccess);
            sforce.console.getSubtabIds(tabId , getSubTabId);
        };        
        function getDetailsSuccess(result) {            
            if (result.success == true) {                          
                var tempx = result.details.customDetails;                
                for(var i=0; i < tempx.length; i++){                	                
                	if(tempx[i].label == 'Twitter'){
                        tweet = tempx[i].value;
                    }                                   	                                	
                }             
            } else {
                alert('Getting the details was not successful');
            }
            if(tweet.length > 1){
            	//alert('TWEET: '+tweet);
            	accId = '{!$CurrentPage.parameters.accountRefId}';
            	checkSocialPersona();
            }                                  
        };           
        var getSubTabId = function getSubTabId(result) {                        
            tempxTab = result.ids;                        
        };
        function checkSocialPersona(){        	        	
        	Visualforce.remoting.Manager.invokeAction(
        		'{!$RemoteAction.SocialPersonaController.checkSocialPersona}', 
        	tweet, 
        	accId,        	
        	function(result, event){
            	if (event.status) {                	
                	if(result.length > 0){
                		//do nothing
                		//alert(result);
                		document.getElementById('spMessageText').value = result;
                		document.getElementById('spMessageText').style.display = 'block';
                		document.getElementById('socialLinkCreate_button').style.display = 'block';                		                	
                		var myVar1=setInterval(function () {closeSubTabForSocial()}, 2000);       
                		         		                		
                	}else{
                		alert("SOME ERROR!");
                	}                	
            	} else if (event.type === 'exception') {
                	//nothing
                	alert(event.message);
            	} else {
	                //nothing
                	alert(event.message);
            	}
        	}, 
        	{escape: true}
    		);
        	
        };  
        function closeSubTabForSocial(){        	
        	sforce.console.getEnclosingTabId(closeingSubTabForSocial);
        	
        };         
        var closeingSubTabForSocial = function closeingSubTabForSocial(result) {
        	sforce.console.refreshSubtabById(tempxTab[1], true);            
            tabId = result.id;
            sforce.console.closeTab(tabId);
        };     
        //alert('{!$CurrentPage.parameters.accountRefId}');        
        //alert('{!$CurrentPage.parameters.tweetRefParam}');
</script>
 
<textarea id='spMessageText' style="font-family:arial;color:Blue;font-size:12px;display: none;">This a lot of text for such a small page. Great.</textarea>
<button type="button" class="button" value='Validate' id='socialLinkCreate_button' onclick="closeSubTabForSocial(); return false;" style="display: none;">Close</button>     
</apex:page>