<apex:page standardController="Location__c"
           showChat="false" 
           sidebar="false" 
           showHeader="false" 
           standardStylesheets="false">
           
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"/>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.10&sensor=false"/>
    <script src="/soap/ajax/9.0/connection.js" type="text/javascript"/>
    <script src="/soap/ajax/9.0/apex.js" type="text/javascript"/>
    
    <script type="text/javascript">
        var locationObj = {};
        
        function authorize()
        {  
           sforce.connection.sessionId = '{!$Api.Session_ID}';
        console.log(sforce.connection.sessionId);}      
    		
        function getLocationID() 
        {
         locationObj.ID = '{!Location__c.Id}';
        }
 
        function fetchLocationRecord()
        {
        
         result = sforce.connection.query('SELECT Id, Coordinates__Longitude__s,Address_Line_1__c,Address_Line_2__c,City__c,Country__c,State__c,Postal_Code__c,Coordinates__Latitude__s,Mapping_Status__c FROM Location__c WHERE ID=\'' + locationObj.ID + '\' AND Mapping_Status__c!=\'Located\'');
         records = result.getArray('records');
         console.log(records);
         if(records.length>0)
         {
          locationObj.IsRecordAvailable = true;
          locationObj.AddressLine1 = records[0].Address_Line_1__c;
		  locationObj.AddressLine2 = records[0].Address_Line_2__c == null ? '' : records[0].Address_Line_2__c;
          locationObj.MailingCity = records[0].City__c;
          locationObj.MailingState = records[0].State__c;
          locationObj.MailingPostalCode = records[0].Postal_Code__c;
          locationObj.MailingCountry = records[0].Country__c;
          locationObj.MappingStatus = records[0].Mapping_Status__c;
         }
         else 
          locationObj.IsRecordAvailable = false;
        }
 		
        locationObj.isAddressAvailable = function(){
         if (this.Country__c != '' && this.Postal_Code__c != '')
           return true;
         else
           return false; 
        }
 
        locationObj.isMapped = function(){
         if (this.MappingStatus=='Located' || this.MappingStatus=='Problem with Address')
          return true;
         else
          return false; 
        }
 
        locationObj.getCSVAddress = function(){
         if(this.isAddressAvailable()) {
            var address = '';
            if(this.AddressLine1 != null) address += this.AddressLine1 +',';
            if(this.AddressLine2 != null) address += this.AddressLine2 +',';
            if(this.MailingCity != null) address += this.MailingCity +',';
            if(this.MailingState != null) address += this.MailingState +',';
            if(this.MailingPostalCode != null) address += this.MailingPostalCode +',';
            if(this.MailingCountry != null) address += this.MailingCountry +',';
            return address;
         }
 
         return 'error'; 
        }   
 
        function getLatLng() 
        { 
         geocoder = new google.maps.Geocoder();  
         geocoder.geocode( 
         { 'address': locationObj.getCSVAddress() }, 
         function(results, status) 
         { 
          if (status == google.maps.GeocoderStatus.OK) 
          { 
           console.log(results[0]);
            locationObj.Latitude  = (results[0].geometry.location.lat()).toString();  
            locationObj.Longitude = (results[0].geometry.location.lng()).toString();  
            locationObj.MappingStatus = 'Located'; 
          } 
          else if (status == google.maps.GeocoderStatus.ZERO_RESULTS || status == google.maps.GeocoderStatus.INVALID_REQUEST) 
          { 
           locationObj.MappingStatus = 'Problem with Address'; 
          } 
          else if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) 
          { 
           locationObj.MappingStatus = 'Google Exhausted'; 
          }  
          updateLocation(); 
         }); 
        }
 
        function updateLocation() 
        { 
         var mappedLocation = new sforce.SObject('Location__c');  
 
         mappedLocation.Coordinates__Latitude__s  = null; 
         mappedLocation.Coordinates__Longitude__s = null;  
 
         if(locationObj.MappingStatus == 'Located') 
         { 
          mappedLocation.Coordinates__Latitude__s  = locationObj.Latitude; 
          mappedLocation.Coordinates__Longitude__s = locationObj.Longitude; 
         }  
         mappedLocation.id = locationObj.ID; 
         mappedLocation.Mapping_Status__c = locationObj.MappingStatus;
 
         result = sforce.connection.update([mappedLocation]);  
 
         if(result[0].getBoolean('success')) 
         { 
          if(confirm('The location\'s new Address has been located Successfully. Please Refresh the Page.')) {
          		parent.location.href="/{!Location__c.Id}";
          }   
         } 
        }   
        
        $(document).ready(
         function()
         {
          authorize();
          getLocationID();
          fetchLocationRecord();
          if(locationObj.IsRecordAvailable && !locationObj.isMapped() && locationObj.isAddressAvailable())
          {
           getLatLng();
          }
          
         });
    </script>
            
 </apex:page>