<apex:component>
  <footer class="row">
  
  
        <!-- Footer  Copy right  --> 
    <div id="footer-support" class="col-md-3 col-sm-3 hidden-xs">
       <div class="footer-support-wrapper">
           <img src="https://psmedia.playstation.com/is/image/psmedia/navigation_home_ps-logo-us?$Icon$" alt="" /> <span class="footer-support-label">{!$Label.Footer_Support}</span>
          <h5>{!$Label.landing_greatness}</h5>
          <span class="scea_copyright"> {!$Label.Footer_Copyright}</span>
       </div>
    </div>

    <!---  Desktop Footer Links --> 
    <div id="footer-links" class="col-md-9 col-sm-9">
      <div class="col-md-3 col-sm-3">
        <span class="footer-category">{!$Label.Footer_SystemUpdates}</span>
        <ul>
          <li><a href="{!$Label.Footer_ps4_link}">{!$Label.Footer_ps4}</a></li>
          <li><a href="{!$Label.Footer_ps3_link}">{!$Label.Footer_ps3}</a></li>
          <li><a href="{!$Label.Footer_psVita_link}">{!$Label.Footer_PS_vita}</a></li>
          <li><a href="{!$Label.Footer_PSP_link}">{!$Label.Footer_PSP} </a></li>

        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <span class="footer-category">{!$Label.Footer_HelpfulLinks}</span>
        <ul>
          <li><a href="{!$Label.Footer_PS_store_link}">{!$Label.Footer_PS_store}</a></li>
          <li><a href="{!$Label.Footer_Service_Repair_link}">{!$Label.Footer_Service_Repair}</a></li>
          <li><a href="{!$Label.Footer_User_Manual_link}">{!$Label.Footer_User_Manual}</a></li>
          <li><a href="{!$Label.Footer_Warranties_link}">{!$Label.Footer_Warranties} </a></li>
          <li><a href="{!$Label.Footer_ps_protection_link}">{!$Label.Footer_ps_protection}</a></li>
          <li><a href="{!$Label.Footer_Support_Forum_link}">{!$Label.Footer_Support_Forum}</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <span class="footer-category">{!$Label.Footer_Legal}</span>
        <ul>
          <li><a href="{!$Label.Footer_Terms_link}">{!$Label.Footer_Terms}</a></li>
          <li><a href="{!$Label.Footer_Accessibility_link}">{!$Label.Footer_Accessibility}</a></li>
          <li><a href="{!$Label.Footer_privacy_link}">{!$Label.Footer_privacy} </a></li>
          <li><a href="{!$Label.Footer_ca_privacy_link}">{!$Label.Footer_ca_privacy}</a></li>
          <li><a href="{!$Label.Footer_User_Agreements_link}">{!$Label.Footer_User_Agreements}</a></li>
        </ul>
      </div>
      <span class="icon-double-arrows-white"><a class="back_top" href="#top">{!$Label.Footer_BackToTop}</a> </span>
    </div>
    <!--- End of Footer Links--> 

    <div id="footer-support" class="col-md-3 col-sm-3 visible-xs">
       <div class="footer-support-wrapper">
           <img src="https://psmedia.playstation.com/is/image/psmedia/navigation_home_ps-logo-us?$Icon$" alt="" /> <span class="footer-support-label">{!$Label.Footer_Support}</span>
          <h5>{!$Label.landing_greatness}</h5>
          <span class="scea_copyright">{!$Label.Footer_Copyright} </span>
       </div>
    </div>
    
  

    
 
 
   
  </footer>
</apex:component>