<apex:component >
<script type='text/javascript' src='https://c.la2c1cs.salesforceliveagent.com/content/g/js/34.0/deployment.js'></script>
<script type='text/javascript'>
liveagent.init('https://d.la2c1cs.salesforceliveagent.com/chat', '572i00000002cba', '00De0000005UvjX');
</script>


  <div class="extra-help-container">
     <div class="extra-help">
        <h3>{!$Label.Channels_NeedSome}</h3>
        
          <div class="row row-centered">
              
              <apex:outputPanel rendered="{!NOT(LOWER($Label.Channels_Social_OnOff) == 'null')}"> 
                <div id="live_chat_col" class="col-md-15 col-sm-3 help-bg col-centered closed-mobile">
                  <div class="us_chat"> 
                       <a id="liveagent_button_online_573i00000002ftp" href="javascript://Chat" onclick="liveagent.startChat('573i00000002ftp')">
                        <div class="channel-icon">  <div class="live-chat-icon"> </div> </div> <div id="liveagent_button_offline_573i00000002ftp"> </div> {!$Label.Channels_LiveChat}
                      </a>
                  </div>

             

                 <!--  LATAM Live Chat  -->
                 <div class="latam_chat">
                     <a id="liveagent_button_online_573i00000002ftk" href="javascript://Chat" onclick="liveagent.startChat('573i00000002ftk')">
                       <div class="channel-icon">  <div class="live-chat-icon"> </div> </div> <div id="liveagent_button_offline_573i00000002ftk"></div>{!$Label.Channels_LiveChat}
                    </a>
                 </div>
                

                  <!--- Brazil Live Chat --> 
                  <div class="brazil_chat">
                       <a id="liveagent_button_online_573e000000000Jm" href="javascript://Chat" onclick="liveagent.startChat('573e000000000Jm')">
                      <div class="channel-icon">  <div class="live-chat-icon"> </div> </div> <div id="liveagent_button_offline_573e000000000Jm"> </div>{!$Label.Channels_LiveChat}
                    </a>
                  </div>
               


                </div>

                <div id="phone_col" class="col-md-15 col-sm-3 help-bg col-centered closed-mobile">
                   <a href="{!$Label.Channels_Phone_link}"> <div class="channel-icon">  <div class="phone-icon"> </div> </div>
                  {!$Label.Channels_Phone}</a> 
                </div>

              </apex:outputPanel>

              <div class="col-md-15 col-sm-3 help-bg col-centered ">
                 <a href="http://community.us.playstation.com/community/support"> <div class="channel-icon">  <div class="forum-icon"></div> </div>
                {!$Label.Channels_Forum} </a>
              </div>
              <div class="col-md-15 col-sm-3 help-bg col-centered ">
                 <a href="https://www.youtube.com/playlist?list=PLC10C9361F47440CD"> <div class="channel-icon">  <div class="youtube-icon">  </div> </div>
                {!$Label.Channels_YouTube} </a>
              </div>
              <div class="col-md-15 col-sm-3 help-bg col-centered ">
                 <a href="https://twitter.com/askplaystation"> <div class="channel-icon"> <div class="twitter-icon"> </div> </div>
                {!$Label.Channels_Twitter} </a>
              </div>
          </div>
    </div>
  </div>




<script type="text/javascript">
if (!window._laq) { window._laq = []; }
window._laq.push(function(){liveagent.showWhenOnline('573i00000002ftp', document.getElementById('liveagent_button_online_573i00000002ftp'));
liveagent.showWhenOffline('573i00000002ftp', document.getElementById('liveagent_button_offline_573i00000002ftp'));
liveagent.setChatWindowHeight(750);
liveagent.setChatWindowWidth(1180);

});
</script>

 <!--  LATAM Live Chat  -->
<script type="text/javascript">
if (!window._laq) { window._laq = []; }
window._laq.push(function(){liveagent.showWhenOnline('573i00000002ftk', document.getElementById('liveagent_button_online_573i00000002ftk'));
liveagent.showWhenOffline('573i00000002ftk', document.getElementById('liveagent_button_offline_573i00000002ftk'));
liveagent.setChatWindowHeight(750);
liveagent.setChatWindowWidth(1180);

});
</script>

<!-- Brazil Live Chat --> 

<script type="text/javascript">
if (!window._laq) {
    window._laq = [];
}
window._laq.push(function() {
    liveagent.showWhenOnline('573e000000000Jm', document.getElementById('liveagent_button_online_573e000000000Jm'));
    liveagent.showWhenOffline('573e000000000Jm', document.getElementById('liveagent_button_offline_573e000000000Jm'));
    liveagent.setChatWindowHeight(750);
    liveagent.setChatWindowWidth(1180);
});
</script>

</apex:component>

